<section class="insights insights-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start insights">
        <h1>Transform the <span>Transactional.</span></h1>
      </div>
      <!-- <div class="col-lg-6 order-lg-1 d-flex flex-column main-img ">
        <img src="assets/images/services/oldAsset 4@4x-8.png" alt="" >
        </div> -->
    </div>
  </div>
</section>




<section class="insights-detail custom-padding-1">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-4 col-sm-6 ">
          <h1>Get the Latest
            <span>Industry</span> Insights
          </h1>
        </div>
        <div class="col-lg-6 col-sm-12">
          <p>Explore the forefront of innovation and stay ahead of industry trends with Nikqik Technologies' Latest
            Industry Insights.</p>
        </div>
      </div>
    </div>

    <div class="row gy-4 wow fadeInUp pt-5 insights-padd" data-wow-duration="2s">
      <div class="col-lg-3 col-sm-4">
        <div class="services-side-box">
        <div class="nav flex-column nav-pills services-side-box" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <a class="nav-link active" id="healthcare-tab" data-toggle="pill" href="#healthcare" role="tab" aria-controls="healthcare">Healthcare</a>
          <a class="nav-link" id="bfsi-tab" data-toggle="pill" href="#bfsi" role="tab" aria-controls="bfsi" aria-selected="false">BFSI</a>
          <a class="nav-link" id="education-tab" data-toggle="pill" href="#education" role="tab" aria-controls="education" aria-selected="false">Education</a>
          <a class="nav-link" id="real-estate-tab" data-toggle="pill" href="#real-estate" role="tab" aria-controls="real-estate" aria-selected="false">Real Estate</a>
          <a class="nav-link" id="logistics-tab" data-toggle="pill" href="#logistics" role="tab" aria-controls="logistics" aria-selected="false">Logistics</a>
          <a class="nav-link" id="on-demand-tab" data-toggle="pill" href="#on-demand" role="tab" aria-controls="on-demand" aria-selected="false">On Demand</a>
          <a class="nav-link" id="retail-and-ecommerce-tab" data-toggle="pill" href="#retail-and-ecommerce" role="tab" aria-controls="retail-and-ecommerce" aria-selected="false">Retail & ECommerce</a>
        </div>
      </div>
      </div>

      <div class="col-lg-9 col-sm-8">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="healthcare" role="tabpanel" aria-labelledby="healthcare-tab">
            <div class="row">
              <div class="col-lg-12 col-sm-12 ">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/GettyImages-983942394 1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>Healthcare</span>
                      <h1>How AI Benefits Healthcare Startups?</h1>
                      <p>AI benefits healthcare startups by improving diagnostics, enabling personalized treatment plans,
                        predicting health risks, and streamlining administrative tasks.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4 section-padd">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/about-us-2 1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/healthcare-industry 1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="bfsi" role="tabpanel" aria-labelledby="bfsi-tab">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/bfsi.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>BFSI</span>
                      <h1>How AI Benefits BFSI Startups?</h1>
                      <p class="mb-0">Discover the transformative impact of AI on BFSI startups, enhancing operational efficiency, mitigating risks, and revolutionizing customer experiences. Harness the power of intelligent automation, data analytics, and personalized financial solutions to propel your BFSI startup into a realm of innovation and sustainable growth.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/bfsi-2.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/bfsi-1.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="education" role="tabpanel" aria-labelledby="education-tab">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/education.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>Education</span>
                      <h1>How AI Benefits Education Startups?</h1>
                      <p>Harnessing AI, education startups unlock personalized learning experiences tailored to individual needs, fostering student engagement and comprehension.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/education-1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/education-2.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="real-estate" role="tabpanel" aria-labelledby="real-estate-tab">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/reale-state.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>Real Estate</span>
                      <h1>How AI Benefits Real-Estate Startups?</h1>
                      <p class="mb-0">By Unlocking Efficiency, Smart Decision Making and Enhanced Customer Experience. AI empowers real estate startups by streamlining operations, automating tedious tasks, and enhancing overall efficiency in property management, data analysis, and customer interactions.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/reale-state1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/reale-state2.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="logistics" role="tabpanel" aria-labelledby="logistics-tab">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/logistics.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>Logistics</span>
                      <h1>How AI Benefits Logistics Startups?</h1>
                      <p>Unlocking unprecedented efficiency, AI transforms logistics startups by optimizing route planning, predictive maintenance, and real-time tracking.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/logistics1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/logistics2.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="on-demand" role="tabpanel" aria-labelledby="on-demand-tab">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/on-demand.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>On-Demand</span>
                      <h1>How AI benefits On-Demand Startups?</h1>
                      <p class="mb-0">Discover how AI on-demand startups are reshaping industries with cutting-edge solutions. Explore the transformative power of Artificial Intelligence in real-time services, revolutionizing user experiences and driving innovation.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/on-demand1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/on-demand2.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="retail-and-ecommerce" role="tabpanel" aria-labelledby="retail-and-ecommerce-tab">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/education.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="latest-industry">
                      <span>Retail & ECommerce</span>
                      <h1>How AI benefits Ecommerce and Retail Startups?</h1>
                      <p class="mb-0">AI transforms Ecommerce and Retail startups by offering personalized customer experiences, optimizing operations through analytics and automation, and enabling data-driven decision-making for targeted marketing and dynamic pricing. </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 pt-4">
                <div class="row">
                  <div class="col-lg-5">
                    <div class="insigts-img">
                      <img src="assets/images/education-1.png" alt="">
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="insigts-img-2">
                      <img src="assets/images/education-2.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


       </div>
      </div>
    </div>
  </div>
</section>

<section id="recent-posts" class="recent-posts custom-padding pt-0 pb-0">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-header">
              <h2>Latest <span>Blogs</span> </h2>
              <p>Read the most recent stories, in-depth analysis, and our unbiased, trustworthy opinions in the field of
                Technologies and Enterprise Mobility. We are passionate about keeping you updated with the tech news and
                its impacts on enterprises, startups, and entrepreneurs’ lives.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-header">
              <a href="https://nikqik.manageprojects.in/nikqikblog" class="btn-get-started">Explore more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="explore-btn">
              <a class="getstarted nav-link" href="contact-us">Explore more <svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path d="M6.82157 20.0707L13.8926 12.9997L6.82157 5.92871" stroke="white" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100" *ngFor="let post of blogPost">
        <div class="post-box" *ngIf="post.tags=='5'">
          <div class="post-img">
            <svg *ngIf="!post._embedded['wp:featuredmedia']" class="bd-placeholder-img card-img-top" width="100%"
              xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
              aria-label="Placeholder: Thumbnail">
              <title>{{post.title.rendered}}</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            <img *ngIf="post._embedded['wp:featuredmedia']" [src]="post._embedded['wp:featuredmedia'][0].source_url"
              class="img-fluid" />
          </div>
          <div *ngFor="let categories of blogCategories">
            <div class="meta" *ngIf="categories.id == post.categories">
              <div>
                <span ng-bind-html="categories.name">{{categories.name}}</span>
              </div>
            </div>
          </div>
          <h3 class="post-title" [innerHTML]="post.title.rendered "></h3>
          <p [innerHTML]="post.excerpt.rendered | slice:0:150 "></p>
          <a href="{{post.link}}" class="readmore stretched-link"><span>Read More</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8.28169 2.93306C8.52576 2.68898 8.92151 2.68898 9.16557 2.93306L13.5406 7.30806C13.7846 7.55212 13.7846 7.94787 13.5406 8.19194L9.16557 12.5669C8.92151 12.811 8.52576 12.811 8.28169 12.5669C8.03763 12.3229 8.03763 11.9271 8.28169 11.6831L11.5898 8.375H3.09863C2.75346 8.375 2.47363 8.09519 2.47363 7.75C2.47363 7.40481 2.75346 7.125 3.09863 7.125H11.5898L8.28169 3.81694C8.03763 3.57286 8.03763 3.17714 8.28169 2.93306Z"
                fill="#0066F9" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="recent-posts" class="recent-posts custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-8">
            <div class="section-header">
              <h2>Latest <span>Podcasts</span> </h2>
              <p>Stay ahead in the dynamic world of technology with our latest podcast episodes. Whether you're a tech
                enthusiast, a business leader, or a curious mind, our podcasts offer valuable perspectives on IT
                services, software development, and navigating the ever-evolving tech sphere.</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="section-header">
              <a href="https://nikqik.manageprojects.in/nikqikblog" class="btn-get-started">Explore more <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="explore-btn">
              <a class="getstarted nav-link" href="contact-us">Explore more <svg xmlns="http://www.w3.org/2000/svg"
                  width="24" height="25" viewBox="0 0 24 25" fill="none">
                  <path d="M6.82157 20.0707L13.8926 12.9997L6.82157 5.92871" stroke="white" stroke-linecap="round"
                    stroke-linejoin="round" />
                </svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row gy-5">
      <div class="col-xl-4 col-md-6" *ngFor="let post of blogPost4">
        <div class="post-box" *ngIf="post.tags=='4'">
          <div class="post-img">
            <svg *ngIf="!post._embedded['wp:featuredmedia']" class="bd-placeholder-img card-img-top" width="100%"
              xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
              aria-label="Placeholder: Thumbnail">
              <title>{{post.title.rendered}}</title>
              <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                dy=".3em">Thumbnail</text>
            </svg>
            <img *ngIf="post._embedded['wp:featuredmedia']" [src]="post._embedded['wp:featuredmedia'][0].source_url"
              class="img-fluid" />
          </div>
          <div *ngFor="let categories of blogCategories">
            <div class="meta" *ngIf="categories.id == post.categories">
              <div>
                <span ng-bind-html="categories.name">{{categories.name}}</span>
              </div>
            </div>
          </div>
          <h3 class="post-title" [innerHTML]="post.title.rendered "></h3>
          <p [innerHTML]="post.excerpt.rendered | slice:0:150 "></p>
          <a href="{{post.link}}" class="readmore stretched-link"><span>Read More</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="ml-2" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M8.28169 2.93306C8.52576 2.68898 8.92151 2.68898 9.16557 2.93306L13.5406 7.30806C13.7846 7.55212 13.7846 7.94787 13.5406 8.19194L9.16557 12.5669C8.92151 12.811 8.52576 12.811 8.28169 12.5669C8.03763 12.3229 8.03763 11.9271 8.28169 11.6831L11.5898 8.375H3.09863C2.75346 8.375 2.47363 8.09519 2.47363 7.75C2.47363 7.40481 2.75346 7.125 3.09863 7.125H11.5898L8.28169 3.81694C8.03763 3.57286 8.03763 3.17714 8.28169 2.93306Z"
                fill="#0066F9" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <section class="recent-posts custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-form">
              <span>Integrity, Innovation , Collaboration</span>
              <h2>Pick your path.</h2>

            </div>
          </div>
          <div class="col-lg-6">
            <div class="explore">
              <p>When you choose us everybody wins, We solve your challenges every day!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--
<section class="contact section-bg custom-padding pt-0">
  <div class="container">
    <div class="row wow fadeInUp" data-wow-duration="2s">
      <div class="app">
        <div class="container">

          <div class="row d-flex justify-content-center">
            <div class="col-md-12">

              <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                <li class="nav-item" role="presentation"> <button class="nav-link active" id="faq_tab_1-tab"
                    data-bs-toggle="tab" data-bs-target="#faq_tab_1" type="button" role="tab" aria-controls="faq_tab_1"
                    >
                    <div class="d-flex flex-column lh-lg"> <i class='bx bxs-plane-alt'></i> <span>WORK WITH US</span>
                    </div>
                  </button> </li>
                <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_2-tab"
                    data-bs-toggle="tab" data-bs-target="#faq_tab_2" type="button" role="tab" aria-controls="faq_tab_2"
                    aria-selected="false">
                    <div class="d-flex flex-column lh-lg"> <i class='bx bxs-shopping-bag'></i> <span>WORK FOR US</span>
                    </div>
                  </button> </li>
                <li class="nav-item" role="presentation"> <button class="nav-link" id="faq_tab_3-tab"
                    data-bs-toggle="tab" data-bs-target="#faq_tab_3" type="button" role="tab" aria-controls="faq_tab_3"
                    aria-selected="false">
                    <div class="d-flex flex-column lh-lg"> <i class='bx bx-check-circle'></i> <span>WORK WHEN
                        INSPIRED</span> </div>
                  </button> </li>

              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="faq_tab_1" role="tabpanel" aria-labelledby="faq_tab_1-tab">
                  <div class="col-lg-10 contect-padding">
                    <form action="" class="contact_form pt-2" #myForm="ngForm">
                      <div class="row">
                        <div class="col">
                          <input type="text" id="firstField" class="form-input-1 w-100" name="message"
                            placeholder="TYPE YOUR MESSAGE" required [(ngModel)]="firstFieldValue"
                            (input)="showNextField()">
                        </div>
                      </div>
                      <div *ngIf="showSecondField">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-input w-100" name="fname" placeholder="First name" required>
                          </div>
                          <div class="col">

                            <input type="text" class="form-input w-100" name="lname" placeholder="Last name" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="email" class="form-input w-100" name="email" placeholder="Email" required>
                          </div>
                          <div class="col">
                            <input type="text" class="form-input w-100" name="phone" placeholder="Phone" required>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <input type="text" class="form-input w-100" name="email" placeholder="How did you find us?"
                              required>
                          </div>
                        </div>
                        <div class="form-check d-flex justify-content-left mb-3">
                          <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" />
                          <label class="form-check-label" for="form4Example4">
                            Send me the goods
                          </label>
                        </div>

                        <div class="col-lg-12 btn-submit">
                          <button class="btn-grad" type="submit" name="button">Submit <svg
                              xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                              <path d="M7.43973 19.9433L14.5107 12.8723L7.43973 5.80127" stroke="white"
                                stroke-linecap="round" stroke-linejoin="round" />
                            </svg></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="tab-pane fade" id="faq_tab_2" role="tabpanel" aria-labelledby="faq_tab_2-tab">

                </div>
                <div class="tab-pane fade" id="faq_tab_3" role="tabpanel" aria-labelledby="faq_tab_3-tab">

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section> -->

<section id="connect-box" class="connect-box custom-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="connect-boxwrep wow fadeInUp" data-wow-duration="2s">
        <h2>Tell us about your idea, and <br> we’ll make it happen.</h2>
        <!-- <p>Have a brand problem that needs to be solved? We’d love to hear about it!</p> -->
      </div>
      <div class="d-flex justify-content-center btn-padding">
        <a  href="contact-us" class="btn-get-started">Connect With Us<i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</section>
