<section class="careers careers-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div class="col-lg-6 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start careers-p">
        <span>Careers</span>
        <h1>We're always looking for talented people</h1>
        <p>Experience the opportunity to contribute to cutting-edge IT solutions utilizing state-of-the-art software
          tools in the global industry. Enjoy a promising career trajectory and a supportive work environment at Nikqik,
          characterized by an empathetic culture.</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="careers/#applyjob" class="btn-get-started">Apply Now </a>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1 d-flex flex-column main-img ">
        <img src="assets/images/12.png" alt="" >
        </div>
    </div>
  </div>
</section>

<!-- <section class="benefits-posts custom-padding pb-0">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <div class="benefits-img">
              <svg xmlns="http://www.w3.org/2000/svg" width="47" height="32" viewBox="0 0 47 32" fill="none">
                <g clip-path="url(#clip0_310_784)">
                  <path d="M1 15.7525L16 30.7525L46 0.752502" stroke="#0066F9" stroke-width="1.4" />
                </g>
                <defs>
                  <clipPath id="clip0_310_784">
                    <rect width="45.99" height="31.485" fill="white" transform="translate(0.504883 0.257507)" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="benefits-posts custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-6">
            <div class="benefits-text">
              <h2>Perks & Benefits</h2>
              <!-- <h4><a href="careers/#opening">VIEW CURRENT OPENINGS <svg xmlns="http://www.w3.org/2000/svg" width="35" height="34"
                    viewBox="0 0 35 34" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M17.7606 6.27772C18.3139 5.74076 19.2109 5.74076 19.7641 6.27772L29.6808 15.9027C30.234 16.4397 30.234 17.3103 29.6808 17.8473L19.7641 27.4723C19.2109 28.0092 18.3139 28.0092 17.7606 27.4723C17.2074 26.9353 17.2074 26.0647 17.7606 25.5277L25.2589 18.25H6.01237C5.22997 18.25 4.5957 17.6344 4.5957 16.875C4.5957 16.1156 5.22997 15.5 6.01237 15.5H25.2589L17.7606 8.22228C17.2074 7.6853 17.2074 6.8147 17.7606 6.27772Z"
                      fill="#0066F9" />
                  </svg></a></h4> -->
            </div>
          </div>
          <div class="col-lg-6">
            <div class="benefits-p">
              <p>We prioritize the well-being of our team members to enable them to perform at their best. Here are some
                of the benefits and privileges we provide to our employees</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="services-offerings pb-5">
  <div class="container-fluid ">
    <div class="row gy-5 wow fadeInUp" data-wow-duration="2s">
      <div class="col-lg-12 ">
        <div class="container">
          <ngx-slick-carousel class="carousel imageSlider mb-0 career-slider" #slickModal="slick-carousel"
            [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem class="slide slide-1">
              <div class="card">
                <div class="card-body">
                  <div class="caption">
                    <img src="assets/images/open-work-culture1.svg" alt="" width="100%">
                    <h5>Personal Growth</h5>
                  </div>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide slide-2">
              <div class="card">
                <div class="card-body">
                  <div class="caption">
                    <img src="assets/images/open-work-culture1.svg" alt="" width="100%">
                    <h5>Technology Advancement</h5>
                  </div>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide slide-3">
              <div class="card">
                <div class="card-body">
                  <div class="caption">
                    <img src="assets/images/icon/salary-benefits1.png" alt="" width="100%">
                    <h5>Equal Opportunities</h5>
                  </div>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide slide-4">
              <div class="card">
                <div class="card-body">
                  <div class="caption">
                    <img src="assets/images/icon/family-health-insurance-img1.png" alt="" width="100%">
                    <h5>Training</h5>
                  </div>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide slide-5">
              <div class="card">
                <div class="card-body">
                  <div class="caption">
                    <img src="assets/images/icon/appreciation1.png" alt="" width="100%">
                    <h5>Satisfaction</h5>
                  </div>
                </div>
              </div>
            </div>
            <div ngxSlickItem class="slide slide-3">
              <div class="card">
                <div class="card-body">
                  <div class="caption">
                    <img src="assets/images/icon/salary-benefits1.png" alt="" width="100%">
                    <h5>Equal Opportunities</h5>
                  </div>
                </div>
              </div>
            </div>

          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="custom-padding pb-0" id="opening">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="faqop-text">
          <!-- <h4>OPENINGS</h4> -->
          <h2>Current Openings</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">

          <div class="faq-item">
            <div class="row">
              <div class="col-lg-8 col-sm-6">
                <h1>Salesforce Developer</h1>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <ul>
                      <li class="experience">Experience</li>
                      <li class="year">2 to 5 Years</li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <ul>
                      <li class="positions">Positions</li>
                      <li class="pos">01</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 text-right d-flex justify-content-center align-items-center view-top-btn" id="headingOne">

                    <a data-toggle="collapse" href="#faq1" class="faq-question mr-4 btn-get-started-1" data-bs-target="#faq1"
                    aria-expanded="true" aria-controls="faq1">View Details <i
                    class="fa fa-angle-right"></i></a>

                <a  href="careers/#applyjob" class=" faq-question-1 btn-get-started">Apply Now <i
                    class="fa fa-angle-right"></i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq1" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                  <div class="faq-answer">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="content">
                          <h3>Key Responsibilities</h3>
                          <ul>
                            <li>Collaborating with stakeholders to understand business requirements and translate them into Salesforce solutions.</li>
                            <li>Designing and implementing custom Salesforce applications.</li>
                            <li>Developing and maintaining Apex code, Visualforce pages, and triggers.</li>
                            <li>Integrating third-party applications with Salesforce.</li>
                            <li>Performing system testing and ensuring the quality of Salesforce solutions.</li>
                            <li>Troubleshooting and resolving issues in Salesforce applications.</li>
                            <li>Staying informed about Salesforce updates and implementing best practices.</li>
                            <li>Providing technical support and training to end-users.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="content">
                          <h3>Job Requirement</h3>
                          <ul>
                            <li>Minimum 2 years of proven experience as a Salesforce Developer.</li>
                            <li>Proficiency in Apex, Visualforce, and Lightning components.</li>
                            <li>Strong understanding of Salesforce architecture and data model.</li>
                            <li>Experience in integrating Salesforce with external systems.</li>
                            <li>Knowledge of Salesforce best practices and security protocols.</li>
                            <li>Salesforce Developer Certification is a plus.</li>
                            <li>Excellent problem-solving and communication skills.</li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="content-info">
                          <h2>APPLY NOW ON</h2>
                          <span><a href="mailto:hr@infonikqik.com"><i class="fa fa-envelope"></i> hr&#64;infonikqik.com</a></span>
                          <h4>OR</h4>
                          <span><a href="tel:+1 895-425-0212"><i class="fa fa-phone"></i> +1 895-425-0212</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

          <div class="faq-item">
            <div class="row">
              <div class="col-lg-8 col-sm-6">
                <h1>IOS Developer</h1>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <ul>
                      <li class="experience">Experience</li>
                      <li class="year">1 to 4 Years</li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <ul>
                      <li class="positions">Positions</li>
                      <li class="pos">02</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 text-right d-flex justify-content-center align-items-center view-top-btn" id="headingTwo">

                <a data-toggle="collapse" href="#faq2" class="faq-question mr-4 btn-get-started-1"
                  data-bs-target="#faq2" aria-expanded="true" aria-controls="faq2">View Details <i
                    class="fa fa-angle-right"></i></a>

                <a href="careers/#applyjob" class=" faq-question-1 btn-get-started">Apply Now <i
                    class="fa fa-angle-right"></i></a>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq2" class="panel-collapse collapse" aria-labelledby="headingTwo">
                  <div class="faq-answer">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="content">
                          <h3>Key Responsibilities</h3>
                          <ul>
                            <li>Designing and building mobile applications for Apple’s iOS platform.</li>
                            <li>Collaborating with the design team to define app features.</li>
                            <li>Ensuring quality and performance of the application to specifications.</li>
                            <li>Identifying potential problems and resolving application bottlenecks.</li>
                            <li>Fixing application bugs before the final release.</li>
                            <li>Publishing application on App Store.</li>
                            <li>Maintaining the code and optimization of the application.</li>
                            <li>Designing and implementing application updates.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="content">
                          <h3>Job Requirement</h3>
                          <ul>
                            <li>Proven experience of minimum 2 years as an app developer.</li>
                            <li>Proficient in Objective-C, Swift, and Cocoa Touch.</li>
                            <li>Extensive experience with iOS Frameworks such as Core Data and Core Animation.</li>
                            <li>Knowledge of iOS back-end services.</li>
                            <li>Knowledge of Apple’s design principles and application interface guidelines.</li>
                            <li>Proficient in code versioning tools including Mercurial, Git, and SVN.</li>
                            <li>Knowledge of C-based libraries.</li>
                            <li>Experience with continuous integration.</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="content-info">
                          <h2>APPLY NOW ON</h2>
                          <span><a href="mailto:hr@infonikqik.com"><i class="fa fa-envelope"></i> hr&#64;infonikqik.com</a></span>
                          <h4>OR</h4>
                          <span><a href="tel:+1 895-425-0212"><i class="fa fa-phone"></i> +1 895-425-0212</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="faq-item">
            <div class="row">
              <div class="col-lg-8 col-sm-6">
                <h1>ServiceNow Developer</h1>
                <div class="row">
                  <div class="col-lg-4 col-sm-4">
                    <ul>
                      <li class="experience">Experience</li>
                      <li class="year">3 to 6 Years</li>
                    </ul>
                  </div>
                  <div class="col-lg-4 col-sm-4">
                    <ul>
                      <li class="positions">Positions</li>
                      <li class="pos">02</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-sm-6 text-right d-flex justify-content-center align-items-center view-top-btn" id="headingThree">

                <a data-toggle="collapse" href="#faq3" class="faq-question mr-4 btn-get-started-1"
                  data-bs-target="#faq3" aria-expanded="true" aria-controls="faq3">View Details <i
                    class="fa fa-angle-right"></i></a>

                <a href="careers/#applyjob" class=" faq-question-1 btn-get-started">Apply Now <i
                    class="fa fa-angle-right"></i></a>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div id="faq3" class="panel-collapse collapse" aria-labelledby="headingThree">
                  <div class="faq-answer">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="content">
                          <h3>Key Responsibilities</h3>
                          <ul>
                            <li>Collaborating with cross-functional teams to gather and understand business requirements for ServiceNow implementations.</li>
                            <li>Designing, developing, and implementing custom solutions on the ServiceNow platform.</li>
                            <li>Configuring and customizing ServiceNow applications based on business needs.</li>
                            <li>Integrating ServiceNow with other enterprise systems.</li>
                            <li>Performing system testing, debugging, and ensuring the quality and reliability of ServiceNow applications.</li>
                            <li>Providing ongoing support and troubleshooting for ServiceNow instances.</li>
                            <li>Staying updated on ServiceNow updates, new features, and best practices.</li>
                            <li>Conducting training sessions for end-users on ServiceNow functionalities.</li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="content">
                          <h3>Job Requirement</h3>
                          <ul>
                            <li>Minimum 3 years of proven experience as a ServiceNow Developer.</li>
                            <li>Proficiency in ServiceNow scripting languages (JavaScript, Glide, Jelly).</li>
                            <li>Hands-on experience with ServiceNow configurations, workflows, and business rules.</li>
                            <li>Knowledge of ServiceNow integrations and API usage.</li>
                            <li>ServiceNow Developer Certification is a plus.</li>
                            <li>Strong analytical and problem-solving skills.</li>
                            <li>Excellent communication and collaboration abilities.</li>

                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="content-info">
                          <h2>APPLY NOW ON</h2>
                          <span><a href="mailto:hr@infonikqik.com"><i class="fa fa-envelope"></i> hr&#64;infonikqik.com</a></span>
                          <h4>OR</h4>
                          <span><a href="tel:+1 895-425-0212"><i class="fa fa-phone"></i> +1 895-425-0212</a></span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-0 pb-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="team-text">
          <h2>Our team sharing experience
            at Nikqik</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="team-setion custom-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- <div class="team-img-wrapper">
          <img src="assets/images/team-image.png" alt="" class="img-fluid w-100">

        </div> -->
        <div class="row">
          <div class="col-lg-3">
            <div class="client-name wow fadeInUp" data-wow-duration="2s">
              <h2>John Doe</h2>
              <p>Sr.Front end Designer </p>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="client-details wow fadeInUp  border-left pl-5 mobile-ped" data-wow-duration="2s">
              <p>At Nikqik, I have discovered a community that cultivates the culture of innovation and dedication to
                excellence create an inspiring atmosphere every day. Nikqik actively invests in its employees, offering
                avenues for continuous growth and development. Nikqik isn't just a job for me; it's a fulfilling and
                enriching journey.</p>
            </div>
          </div>
        </div>
        <div class="row pt-5 life-top">
          <div class="col-lg-4">
            <div class="life-img wow fadeInUp" data-wow-duration="2s">
              <svg viewBox="0 0 1320 300">
                <text x="50%" y="50%" dy=".35em" text-anchor="middle" class="text-animation">
                  LIFE
                </text>
              </svg>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="client-cel wow fadeInUp" data-wow-duration="2s">
              <h5>Events, Celebrations, Functions, Festivals
                and much more!</h5>
              <h2>&#64;nikqik</h2>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="team-setion-1">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-4">
          <img src="assets/images/smt-office3 1.png" alt="">
        </div>
        <div class="col-lg-4">
          <img src="assets/images/smt-office4 1.png" alt="">
        </div>
        <div class="col-lg-4">
          <img src="assets/images/transparency 1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="applyjob" class=" section-bg custom-padding pt-0 tab-padding">
  <div class="container">
    <div class="row wow fadeInUp" data-wow-duration="2s">
      <div class="col-lg-12">
        <div class="conect-title wow fadeInUp text-center" data-wow-duration="2s">
          <h2>We invite you to apply</h2>
          <p>We will catch you as early as we receive the message</p>
        </div>
      </div>
      <div class="col-lg-12 col-sm-12 contect-padding">
        <form [formGroup]="careerForm" (ngSubmit)="onSubmit()" id="career_form" class="pt-2" enctype="multipart/form-data">

          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="col-sm-12">
                <label for=""></label>
                <input type="text" formControlName="fname"
                  [ngClass]="{'is-invalid':submitted && careerForm.controls['fname'].errors && submitted}"
                  class="form-input form-control w-100" aria-invalid="false" placeholder="First Name">
                <div *ngIf="submitted && careerForm.controls['fname'].errors" class="text-danger">
                  <div *ngIf="submitted && careerForm.controls['fname'].errors?.['required'] && submitted">First name is required</div>
                  <div *ngIf="submitted && careerForm.controls['fname'].errors?.['pattern']">Numbers are not allowed.
                  </div>
                </div>
              </div>
              <div class="col">
                <label for=""></label>
                <input type="text" formControlName="lname"
                  [ngClass]="{'is-invalid':submitted && careerForm.controls['lname'].errors && submitted}"
                  class="form-input form-control w-100" aria-invalid="false" placeholder="Last Name">
                <div *ngIf="submitted && careerForm.controls['lname'].errors" class="text-danger">
                  <div *ngIf="submitted && careerForm.controls['lname'].errors?.['required'] && submitted">Last name is required</div>
                  <div *ngIf="submitted && careerForm.controls['lname'].errors?.['pattern']">Numbers are not allowed.
                  </div>
                </div>
              </div>
              <div class="col">
                <label for=""></label>
                <input type="email" formControlName="email"
                  [ngClass]="{'is-invalid':submitted && careerForm.controls['email'].errors && submitted}"
                  class="form-input form-control w-100" aria-invalid="false" placeholder="Email Address">
                <div *ngIf="submitted && careerForm.controls['email'].errors" class="text-danger">
                  <div *ngIf="submitted && careerForm.controls['email'].errors?.['required'] && submitted">Email address
                    is required</div>
                  <div *ngIf="submitted && careerForm.controls['email'].errors?.['pattern']">Please, Enter valid email
                    address</div>
                </div>
              </div>
              <div class="col">
                <label for=""></label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <select class="form-control" id="countryCode" formControlName="countrycode" aria-invalid="false">
                      <option value="+" [selected]="true">+</option>
                      <option value="+61">+61</option>
                      <option value="+91"> +91</option>
                      <option value="+44"> +44</option>
                  </select>
                  </div>
                  <input type="tel" formControlName="phone"
                    [ngClass]="{'is-invalid':submitted && careerForm.controls['phone'].errors && submitted}"
                    class="form-input form-control" aria-invalid="false" id="phone" placeholder="Enter number">

                </div>
                <div *ngIf="submitted && careerForm.controls['phone'].errors" class="text-danger">
                  <div *ngIf="submitted && careerForm.controls['phone'].errors?.['required'] && submitted">Phone number is required</div>
                  <div *ngIf="submitted && careerForm.controls['phone'].errors?.['pattern'] " >Please enter 10 digit number</div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="col">
                <label for=""></label>
                <select class="form-input form-control w-100" aria-invalid="false" formControlName="designation"
                [ngClass]="{'is-invalid': submitted && careerForm.controls['designation'].errors && submitted}"
               >
               <option value="Select Designation" [selected]="true">Select Designation</option>

            <option value="Salesforce Developer">Salesforce Developer</option>
            <option value="IOS Developer">IOS Developer</option>
            <option value="ServiceNow Developer">ServiceNow Developer</option>
        </select>
                <div *ngIf="submitted && careerForm.controls['designation'].errors" class="text-danger">
                  <div *ngIf="submitted && careerForm.controls['designation'].errors?.['required'] && submitted">Select
                    your designation</div>
                </div>
              </div>
              <div class="col">
                <label for=""></label>
                <div class="upload-files-container">
                  <div class="drag-file-area" id="drop-area" (click)="openFileInput()"
                       (dragover)="onDragOver($event)" (drop)="onDrop($event)">

                      <input type="file" formControlName="upload_cv"
                             [ngClass]="{'is-invalid':submitted && careerForm.controls['upload_cv'].errors && submitted}"
                             #fileInput style="display: none;" accept=".pdf, .docx, .doc" (change)="onFileSelected($event)">
                      <img src="assets/images/drag-drop.png" alt="">
                      <h3 class="dynamic-message upload-area" id="hide-text" [ngClass]="{'hide': selectedFileName}">Drag and drop your CV here, or choose files
                      </h3>

                      <p class="mb-0" id="hide-text" [ngClass]="{'hide': selectedFileName}">Only PDF and Word files are allowed</p>
                      <p *ngIf="selectedFileName" class="upload-cvname">{{ selectedFileNameTemap }}</p> <!-- Display the selected file name -->
                  </div>
              </div>
                <div id="fileError" style="color: red; display: none;">Upload CV is required (Pdf / Word file)</div>
                <!-- <div id="fileError" *ngIf="submitted && careerForm.controls['upload_cv'].errors" class="text-danger">
                  <div *ngIf="submitted && careerForm.controls['upload_cv'].errors?.['required'] && submitted">Upload CV is required</div>
                </div> -->
              </div>

            </div>
          </div>
          <div class="col-lg-12 btn-submit pt-3">
            <button class="btn-grad" type="submit" value="Upload File" name="submit">Submit Application <i
                class="fa fa-angle-right"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section id="connect-box" class="connect-box custom-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="connect-boxwrep wow fadeInUp" data-wow-duration="2s">
        <h2>We're consistently seeking individuals <br>
          with exceptional skills</h2>
        <p>Can't find a position that aligns with your skill set? However, if you're still interested, feel free to
          reach out to us!</p>
      </div>
      <div class="d-flex justify-content-center">
        <a href="contact-us" class="btn-get-started-3">Contact Us <i class="fa fa-angle-right ml-2"></i></a>
      </div>
    </div>
  </div>
</section>
