.careers-section {
  // background: url('../../../assets/images/12.png');
  height: 555px;
  background: linear-gradient(90deg, rgba(15, 0, 48, 1.000000) 0%, rgba(82, 24, 212, 1.000000) 100%);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  // top: 35px;
  display: flex;
  background-position: right;
  align-items: center;
}

.careers-section .main-img{
  padding-top: 80px;
}


.careers-p span {
  color: #ffffff;
  font-family: "Roboto", sans-serif !important;
  font-size: 69px;
  font-style: normal;
  font-weight: 700;
  padding-top: 60px;
  line-height: normal;
}

.careers h1 {
  color: #ffffff;

  font-family: "Roboto", sans-serif !important;
  font-size: 37px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
}

.careers-p p {
  color: #ffffff;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 33px;
}

@media (max-width: 640px) {
  .careers h1 {
    font-size: 36px;
  }
}

.careers .btn-get-started {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.careers .btn-get-started:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

//--------------------------------------------

.benefits-text h4 a {
  color: #0066F9;
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 33px;
}

.benefits-text h2 {
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 50px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 56px;
}

.benefits-p p {
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 27px;
  margin: auto;
  position: absolute;
  width: 76%;
  right: 0;
}

//--------------------------------------------

.benefits-img {
  border: 1px solid #A7A7A7;
  border-radius: 100px;
  width: 106px;
  height: 106px;
}

.benefits-img svg {
  position: absolute;
  top: 40px;
  bottom: 0;
  right: 0;
  left: 40px;
}

//---------------------------------------------


.faq-item h1 {
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.m-b-sm {
  margin-bottom: 10px;
}

/* FAQ */
.faq-item {
  padding: 28px;
  margin-bottom: 20px;
  background: #F2F4F4;
}

.faq-item ul {
  margin-bottom: 0rem;
  list-style: none;
  padding-left: 0px;
}

.faq-item ul li.experience {
  color: #232323;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faq-item ul li.year {
  color: #0066F9;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  margin-top: 8px;
}

.faq-item ul li.positions {
  color: #232323;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faq-item ul li.pos {
  color: #0066F9;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  margin-top: 8px;
}

.content ul li{
  list-style: disc;
  color: #14142B;

font-family: "Roboto", sans-serif !important;
font-size: 14px;
font-style: normal;
font-weight: 400 !important;
line-height: 37px;

}


.faq-question-1 {
  color: #fff;
  height: 56px;
  background: #0066F9;
  width: 100%;
  border-radius: 30px;
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 400 !important;
}

.faq-answer {
  margin-top: 15px;
  background: #f3f3f4;
  border-top: 1px solid #B7B7B7;
  padding: 15px 0 0;
}

.faq-item .tag-item {
  background: #f3f3f4;
  padding: 2px 6px;
  font-size: 10px;
  text-transform: uppercase;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}

.ibox.collapsed .ibox-content {
  display: none;
}

.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}

.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}

.ibox:after,
.ibox:before {
  display: table;
}

.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

/* WRAPPERS */
#wrapper {
  width: 100%;
  overflow-x: hidden;
}

.wrapper {
  padding: 0 20px;
}

.wrapper-content {
  padding: 20px 10px 20px;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  position: relative !important;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 240px;
    min-height: 2002px;
  }
}

.content h3{
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content ul{
  margin-left: 15px;
}

.content-info h2{
  color: #000;
  font-family: "Roboto", sans-serif !important;
  padding-top: 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.content-info span a{
  color: #0066F9;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 23px;
}

.content-info h4{
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
  font-style: normal;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 23px;
}

.faqop-text h4{
  color: #0066F9;
  font-family: "Roboto", sans-serif !important;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.faqop-text h2{
  color: #000;
font-family: "Roboto", sans-serif !important;
font-size: 60px;
font-style: normal;
font-weight: 400 !important;
line-height: normal;
}

.benefits-box{
  border-radius: 10px;
border: 1px solid #808080;

background: #FFF;
}

.imageSlider img{
  width: 75px;
  height: 75px;
  flex-shrink: 0;
  text-align: center;
  margin: 30px 80px 0px;
}

.imageSlider .carousel-caption {
  position: relative;
  right: 0;
  left: 0;
  text-align: left;
}


.imageSlider .carousel-item{
  text-align:left;
}

.services-offerings .card{
  background-color: #fff;
  padding:20px;
  border: 1px solid #808080;
  margin: 3px;
  border-radius: 10px;
  text-align: center;
  height: 40vh;
  max-height: 100%;
}

.services-offerings .card-body{
  padding: 0px;
}

.services-offerings .caption h5 {
  color: #000;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  padding-top: 20px;
}

.carousel.imageSlider{
  height: 250px;
}
//-----------------------------------

.connect-box {
  background-image: url('../../../assets/images/Group 120.png');
  width: 85%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.connect-box p {
  position: relative;
  color: #fff;
  margin-bottom: 0px;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
}

.connect-box h2 {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto", sans-serif !important;
  font-size: 34px;
  font-style: normal;
}

.connect-box .btn-get-started {
  font-weight: 400 !important;
  position: absolute;
  font-family: "Roboto", sans-serif !important;
  font-size: 17px;
  padding: 10px 25px;
  margin-top: 22px;
  border-radius: 50px;
  transition: 0.3s;
  color: #0040b3;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgb(0 64 179);
}

.benefits-posts{
  padding-top: 80px;
}

.tab-padding {
  padding-top: 0px !important;
  margin-top: -120px;
}
@media (min-width: 320px) and (max-width:815px) {
  .benefits-posts{
    padding-top: 0px;
  }
  .team-text h2{
    font-size: 37px !important;
    padding-bottom: 0 !important;
}
.tab-padding{
  padding-top: 0px !important;
  margin-top: 15px !important;
}
  .careers-section {
    // background: none;
    height: 700px;
    background: linear-gradient(90deg, rgba(15, 0, 48, 1.000000) 0%, rgba(82, 24, 212, 1.000000) 100%);
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    // top: 35px;
    display: flex;
    background-position: right;
    align-items: center;
}


.careers-section .main-img img{
  display: none ;
  padding-top: 0px;
}

.careers-section .main-img{
  padding-top: 0px;
}

.benefits-text h2{
padding-top: 30px;
}

.drag-file-area{
    border: 1px solid #e4e4e4;
    border-radius: 12px;
    margin: 0px 0 0px;
    padding: 20px 10px;
    height: 185px !important;
    width: 100%;
    text-align: center;
}
.btn-submit{
  text-align: center;
  padding-top: 18px;
}


  .connect-box .btn-get-started {
    font-weight: 500;
    position: absolute;
    font-size: 15px;
    padding: 10px 25px;
    margin-top: 0px;
    border-radius: 50px;
    transition: 0.3s;
    color: #0040b3;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
    border: 2px solid rgb(0, 64, 179);
  }

  .connect-box {
    background-image: url('../../../assets/images/Group 120.png');
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    display: flex;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
  }

  .faq-question {
    color: #fff;
    height: 48px !important;
    background: #282828;
    width: 100% !important;
    border-radius: 30px;
    display: block;
    text-align: center;
    padding: 10px !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400 !important;
  }

  .faq-item h1{
    color: #000;
    font-family: "Roboto", sans-serif !important;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

  .faq-question-1{
    color: #fff;
    height: 48px;
    background: #0066F9;
    width: 100% !important;
    border-radius: 30px;
    display: block;
    text-align: center;
    padding: 10px;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    font-style: normal;
    font-weight: 400 !important;
}

.faq-item ul li.year {
  color: #0066F9;
  font-family: "Roboto", sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  margin-top: 8px;
  margin-bottom: 10px;
}

.team-img-wrapper{
  position: unset !important;
}

.team-setion  {
  background: #0066F9;
  width: 100%;
  height: auto !important;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 50px;
}

.team-img-wrapper img {
  margin: 0px !important;
  padding-bottom: 20px !important;
  border-radius: 30px;
}
.mobile-ped{
  padding-left: 0px !important;
  border-left: 0px !important;
}
.life-ped{
  padding-top: 0px !important;
}
.life-img{
  display: grid;
  place-items: start !important;
  height: 100px !important;
}

.life-im svg .text-animation {
  font-size: 20rem !important;
  fill: rgba(255, 255, 255, 0);
  stroke: rgb(255, 255, 255);
  stroke-width: 3px;
}

.team-setion-1 {
  position: unset !important;
}

.team-setion-1 img{
  width: 100%;
  padding-bottom: 10px !important;
}
.benefits-p p{
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 33px;
  margin: auto;
  position: unset !important;
  width: 100%;
  right: 0;
}
.services-offerings .card{
  background-color: transparent;
  padding: 20px;
  border: 1px solid #808080;
  margin: 18px;
  border-radius: 10px;
  text-align: center;
  height: 45vh !important;
  max-height: 85%;
}

.contect-padding {
  margin: 0 auto;
  width: 100% !important;
}
.life-img svg .text-animation {
  font-size: 25rem !important;
}

.imageSlider img{
  margin: 30px 108px 0px !important;
}

.life-img svg {
  width: 100%;
  height: 75%;
  margin-left: -60px !important;
}

.life-top{
padding-top: 0px !important;
}

.view-top-btn{
  padding-top: 15px;
}

.team-setion {
  margin-bottom: -10px !important;
}

.connect-box h2 {
  position: relative;
  color: #fff;
  font-weight: 700;
  font-family: "Roboto", sans-serif !important;
  font-size: 19px;
  font-style: normal;
}

.connect-box p {
  position: relative;
  color: #fff;
  width: 100%;
  margin: 0 auto;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 18px;
}

.btn-padding {
  padding-bottom: 20px;
  padding-top: 10px;
}

.services-tab-box {
  padding-top: 0px !important;
  padding-bottom: 10px !important;
}

.faqop-text h2{

  font-size: 42px !important;
  padding-top: 60px;

}
}




.team-setion {
  background: #0066F9;
  width: 100%;
  height: 1000px;                         //here we have modified
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 50px;
}

.team-setion .connect-boxwrep{

  margin: 0 auto;
  align-items: center;
  margin-bottom: 50px;
}

.team-img-wrapper{
  position: absolute;
  top: -250px;
}

.team-img-wrapper img{
  margin: 16px;
  border-radius: 30px;
}

.team-img-wrapper .bg-color{
  background-color: #fff;
  padding: 5px
}

.team-setion-1 img{
  width: 100%;
}

.team-setion-1{
  position: relative;
    top: -180px;
}

.team-setion .client-name h2{
  color: #FFF;
  font-family: "Roboto", sans-serif !important;
  font-size: 50px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 27px;
}

.team-setion .client-name p{
  color: #FFF;
  font-family: "Roboto", sans-serif !important;
  font-size: 20px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 27px;
}

.team-setion .client-details p{
  color: #FFF;

font-family: "Roboto", sans-serif !important;
font-size: 20px;
font-style: normal;
font-weight: 400 !important;
line-height: 27px;
}


// .life-img img{
//   width: 90%;
//   height: 200px;
// }

.life-img{
  display: grid;
  place-items: center;
  height: 150px;

}

.life-img svg {
  width: 100%;
  height: 100%;


  .text-animation {
    font-size: 32rem;
    fill: rgba(255, 255, 255, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
  }

}

.client-cel h5{
  color: #FFF;
font-family: "Roboto", sans-serif !important;
font-size: 30px;
font-style: normal;
font-weight: 400 !important;
line-height: normal;
}

.client-cel h2{
  color: #FFF;

font-family: "Roboto", sans-serif !important;
font-size: 60px;
font-style: normal;
font-weight: 400 !important;
line-height: normal;
}


.career-slider {
  transition: transform 0.5s ease-in-out;
}


.career-slider .slide-1 {
    transform: rotate(4deg);
  }

  .career-slider .slide-2 {
    transform: rotate(-6deg);
  }

  .career-slider .slide-3 {
    transform: rotate(4deg);
  }

  .career-slider .slide-4 {
    transform: rotate(-6deg);
  }

  .career-slider .slide-5 {
    transform: rotate(4deg);
  }


//   .career-slider .slick-slider{
//     position: relative;
//     top: 15px;
//     left: 0;
//     display: block;
//     height: 390px;
// }
#contact_form .form-input {
	border: 1px solid #e4e4e4;
  font-style: normal;
  font-family: "Roboto", sans-serif !important;
}

input {
	height: 42px;
	padding: 0 1rem;
	background: #fff;
	border-radius: 5px;
  font-weight: 400 !important;
	margin-bottom: 1.3rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

#contact_form textarea {
	resize: none;
	padding: 1rem;
	height: 110px;
	background: #fff;
	border: 0;
	border-radius: 5px;
	margin-bottom: 1rem;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-submit{
  text-align: center;
}

.btn-grad {
 padding: .7rem 2rem;
	display: inline-block;
	color: #fff;
	border-radius: 50px;
	border: 0;
	background: #0066F9;
	cursor:pointer;
}
.contact-info {
	padding: 2rem 2rem 1rem;
	border-radius: 8px;
	background: #0066F9;
}

.contact-section h3{
  font-size: 26px;
  font-weight: 500;
  padding-top: 10px;
  font-family: "Roboto", sans-serif !important;
    font-style: normal;
}

.contect-padding{
margin: 0 auto;
    width: 75%;
}

.form-check input{
  border: 1px solid #8f8787;
  padding: 0px;
  height: 17px;
}


.form-control {
  height: 42px;
  padding: 0 1rem;
  background: #fff;
  border-radius: 5px !important;
  font-weight: 400 !important;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
}

.form-check-label {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  padding-bottom: 5px;
  padding-top: 0px;
}

label {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif !important;
  padding-bottom: 10px;
}

select.form-control:not([size]):not([multiple]){height:42px;margin-right:5px;}

.drag-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.drop-container {
  border: 2px dashed #ccc;
  padding: 10px;
}
.upload-files-container {
	width: 100%;
	border-radius: 10px;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;

}
.hide {
  display: none;
}
.upload-cvname{
  margin-top: 20px !important;
  // line-break: anywhere;
  word-break: break-all;
}
.drag-file-area {
  border: 1px solid #e4e4e4;
  border-radius: 12px;
  margin: 0px 0 0px;
  padding: 20px 10px;
  height: 175px;
  width: 100%;
  text-align: center;
}
.drag-file-area img {
	width: 60px;
}
.drag-file-area h3 {
  font-size: 20px;
  margin: 5px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #7b2cbf;
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #7b2cbf;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #7b2cbf;
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}

.team-text h2{
    color: #000;
    font-family: "Roboto", sans-serif !important;
    font-size: 67px;
    font-style: normal;
    margin-bottom: 15px;
    font-weight: 400 !important;
    line-height: normal;
}

.services-offerings .slick-slider {
  position: relative;
  right: -100px !important;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}


.custom-padding .btn-get-started{
  font-weight: 500;
  font-size: 22px;

  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
  width: 100%;
  font-family: "Roboto", sans-serif !important;
  color: #fff;
  background-color: #0066f9;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.custom-padding .btn-get-started-1{
  font-weight: 500;
  font-size: 22px;

  display: inline-block;
  padding: 10px 25px;
  width: 100%;
  border-radius: 50px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif !important;
  color: #fff;
  background-color: #282828;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.connect-box .btn-get-started-3{
  position: absolute;
  font-weight: 500;
  margin-top: 22px;
  font-size: 17px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif !important;
  color: #0040b3;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgb(0 64 179);
}

.faq-question {
  color: #fff;
  height: 56px;
  background: #282828;
  width: 100%;
  border-radius: 30px;
  display: block;
  text-align: center;
  padding: 10px;
  font-family: "Roboto", sans-serif !important;
  font-size: 22px;
  font-style: normal;
  font-weight: 400 !important;
}



.drag-file-area {
  cursor: pointer;
}



.drag-file-area p {
  margin: 0;
}

@media (min-width: 768px) and (max-width:1024px) {
  .life-img svg {
    width: 100%;
    height: 75%;
    margin-left: -213px !important;
  }

.life-top{
  padding-top: 10px !important;
}

.tab-padding{
  padding-top: 160px !important;
}
}


@media only screen and (min-width: 992px)  {
  .custom-padding .btn-get-started-1 {
    font-size: 16px;
    height: 46px;
  }
  .faq-question-1{
    font-size: 16px !important;
    height: 46px;
  }
}


