<section class="services-banner">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h1 class="banner-text">Organizational Change Management</h1>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="contact-us" class="btn-get-started">Connect Today <img src="https://nikqikrfp.my.canva.site/it-service-management-process-consulting/images/e20632dd00b5ed7bf02fcce8d2c37eac.svg" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
      <img src="assets/images/services/organizational-change-management.png" alt="" class="main-img">
      </div>

    </div>
  </div>
</section>

<section class="second-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-10">
          <h1 class="banner-text">Navigate Transformation with Confidence</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 display-left">
        <div class="col-lg-10">
          <p>Change is inevitable. But navigating it smoothly and effectively can be the difference between thriving and floundering. At Nikqik Technologies, we're your trusted partner in organizational change management (OCM), guiding your people through transitions with empathy, expertise, and proven strategies.</p>
          
        </div>
        <div class="d-flex justify-content-end">
          <a href="contact-us" class="btn-get-started">CONNECT NOW</a>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="services custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title gif wow fadeInUp pb-5" data-wow-duration="2s">
      <h2>Here's what sets us <span> <img src="/assets/images/circle.gif" alt="">apart!</span></h2>
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center" data-wow-duration="2s">
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/change-readiness-assessment.png" alt="" srcset="">
          </div>
          <div>
            <span>Change Readiness Assessment</span>
          </div>
          <p class="pt-2">Evaluate your organization's preparedness for change, identifying strengths,weaknesses, and potential challenges.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/change-strategy-and-roadmap.png" alt="" srcset="">
          </div>
          <div><span>Change Strategy and Roadmap</span></div>

          <p class="pt-2">Develop a clear and actionable roadmap for successful implementation,aligning with your business goals and desired outcomes.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/stakeholder-communication-and-reporting.png" alt="" srcset="">
          </div>
          <div>
            <span>Stakeholder Engagement and Communication</span>
          </div>
          <div>
            <p class="pt-2">Develop targeted communication strategies to keep everyone informed, address concerns, and build buy-in throughout the change process.</p>

          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/stakeholder-engagement-and-communication.png" alt="" srcset="">
          </div>
          <div>
            <span>Training and Development</span>
          </div>
          <div>
            <p class="pt-2">Equip your employees with the skills and knowledge needed to embrace change effectively, minimizing resistance and maximizing adoption.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/resistance-management.png" alt="" srcset="">
          </div>
          <div>
            <span>Resistance Management</span>
          </div>
          <div>
            <p class="pt-2">Develop strategies to address resistance constructively, ensuring smooth transitions and a positive change experience for all.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/task-management-and-tracking.png" alt="" srcset="">
          </div>
          <div>
            <span>Performance Monitoring and Evaluation</span>
          </div>
          <div>
            <p class="pt-2">Track progress, measure impact, and make adjustments as needed to ensure the change initiative stays on track and delivers intended results.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/organizational-change-management/sustainability-and-continuous-improvement-management.png" alt="" srcset="">
          </div>
          <div>
            <span>Sustainability and Continuous Improvement</span>
          </div>
          <div>
            <p class="pt-2">Foster a culture of continuous improvement, building internal capacity for managing future change initiatives seamlessly.</p>
          </div>
        </div>
      </div>

      </div>
      </div>
      </section>

<section class="core-values custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp pb-5" data-wow-duration="2s">
      <h2><span> <img src="/assets/images/circle.gif" alt="">Why</span> choose Nikqik Technologies for your OCM needs?</h2>
      <!-- <h2>Here's what sets us <span> <img src="/assets/images/circle.gif" alt=""> apart!</span></h2> -->
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center d-flex" data-wow-duration="2s">
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box ">
          <div class="col-lg-4">
            <span>Human-centric approach</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We put your people at the heart of every change initiative, ensuring their understanding, buy-in, and active participation.</p>

           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Tailored communication strategies</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We craft customized communication plans that keep everyone informed,engaged, and empowered throughout the change process.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Sustainable transformation</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We build your internal capacity for managing change beyond any specific initiative, equipping your organization for future adaptability.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Proven track record</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We boast a strong portfolio of successful change management projects, helping organizations of all sizes embrace change and achieve their goals.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Flexible and agile</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We adapt our approach to your unique culture, size, and resources, ensuring a smooth and effective implementation.</p>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>



      <section class="full-banner">
        <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
          <div class="row space">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">
              <img src="assets/images/full-bannerimage.png" alt="">
              </div>
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center ">
              <p>Nikqik Technologies is your guide on the path to successful organizational change. Contact us today and let's unlock the potential for growth and progress within your organization, together.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="full-banner-2">
        <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
          <div class="row space">

            <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center ">
              <p class="pr-1">Tell us about your</p>
              <p class="pr-2">IDEA</p>
              <p class="pr-1">and we’ll make it happen.</p>
                <p class="pr-3">Have a brand problem that needs to be solved? We’d love to hear about it!</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="contact-us" class="btn-get-started">CONNECT NOW</a>
              </div>
            </div>
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-end">
              <img src="assets/images/setting.gif" alt="">
              </div>
          </div>
        </div>
      </section> -->
