
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation
*/

.navbar .logo{
  margin: 15px;
    background: #fff;
    border-radius: 50px;
}

.navbar .bg-text a {
  color: #000;
}

.navbar {
  // padding: 15px 0;
  padding: 0;
  position: fixed;
  z-index: 3;
  width: 100%;
  background-color: transparent;
  // box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.fixed-top .logo{
  margin: 0px;
}
.fixed-top {
  margin: 0px;
  background-color: #fff !important;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  padding: 0px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400 !important;
  color: #fff;
  white-space: nowrap;
  font-family: "Roboto", sans-serif !important;
  transition: 0.3s;
}

.fixed-top .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 400 !important;
  color: #000000;
  white-space: nowrap;
  font-family: "Roboto", sans-serif !important;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #0066f9 !important;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #0066f9;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff !important;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff !important;
  background: #0066f9;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 0px;
  top: calc(100% + 0px);
  margin: 0;
  padding: 40px 40px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.ul-padding {
  padding-left: 85px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 8px 10px;
  font-size: 18px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #0066f9;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation
*/
.mobile-nav-toggle {
  color: #3c4133;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

// @media (max-width: 991px) {
//   .mobile-nav-toggle {
//     display: block;
//   }

//   .navbar ul {
//     display: none;
//   }
// }

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(34, 36, 29, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #3c4133;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #0066f9;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #0066f9;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.fa-bars {
  color: #007bff;
  font-size: 30px;
}


@media (min-width: 320px) and (max-width:815px) {

  .img-black {
    display: block !important;
  }

  .img-white{
    display: none;
  }
  .navbar {
    padding: 15px 0;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #fff !important;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  }

  .navbar .logo {
    margin: 0px;
    background: #fff;
    border-radius: 50px;
}

  .post-box .readmore {
    right: -8px !important;
  }

  .post-box .post-title {
    width: 80%;
    left: 13px !important;
    font-size: 20px !important;

  }

  .post-box .post-img::before {

    height: 211px !important;
  }

  .navbar .dropdown ul {

    left: -66px;
    top: calc(100% + 0px);
  }

  .ul-padding {
    padding-left: 0px;
    overflow-y: auto;
    max-height: 290px;
  }

  .getstarted {
    display: none !important;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;

  }

  .navbar a:focus {
    padding: 10px 0 10px 0px;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400 !important;
    color: #000000;
    white-space: nowrap;
    font-family: "Roboto", sans-serif !important;
    transition: 0.3s;
  }

  .navbar {
    padding: 0 20px 0;
  }

  .navbar .position-static li {
    position: relative;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0px !important;
    top: calc(55% + 3px) !important;
    margin: 0;
    padding: 5px 30px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }

  .mobile-hide {
    display: none;
  }
}


.navbar .position-static li {
  position: static;
}

.post-box .post-img {
  position: relative;
}

.post-box .post-title {
  position: absolute;
  bottom: 0px;
  width: 75%;
  left: 30px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: #fff !important;
  font-family: "Roboto", sans-serif !important;
  z-index: 99;
}


.post-box .post-img::before {
  content: "";
  background: rgba(0, 0, 0, 0.42);
  position: absolute;
  inset: 0;
  height: auto;
}

.post-box .readmore {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #0066f9;
  z-index: 999999;
}

.post-box .readmore i {
  font-size: 20px !important;
  color: #fff;
  padding: 0px !important;
  margin-left: 2px;

}

.service-text {

  justify-content: center;
  align-items: center;
  display: flex;
}

.service-text p {
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0px;
  color: #000;
  font-family: "Roboto", sans-serif !important;
  font-weight: 700;
}



.fixed-top .img-white {
  display: none;
}
.img-black {
  display: none;
}

.fixed-top .img-black {
  display: block;
}

.navbar .logo .img-white{
  width: 170px;
}

.logo a{
  margin-right: 0;
}

// @media only screen and (min-width: 998px)  {
//   .post-box .post-img::before {
//     content: "";
//     background: rgba(0, 0, 0, 0.42);
//     position: absolute;
//     inset: 0;
//     height: 278px;
//   }
// }



.nav-item.dropdown:hover > .w-100 {
  display: block;
}

.navbar-collapse.collapse {
  display: none;
}

.navbar-collapse.collapse.show {
  display: block;
}


.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown > .w-100 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.nav-item.dropdown:hover > .w-100 {
  display: block;
}


.nav-item.dropdown {
  position: relative;
}

.nav-item.dropdown > .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
}

.nav-item.dropdown:hover > .dropdown-menu {
  display: block;
}

.navbar-collapse.collapse {
  display: none;
}

.navbar-collapse.collapse.show {
  display: block;
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex !important;
  }
}
