<section class="product-banner">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start ">
        <span class="head-text">Introducing</span>
        <h1 class="banner-text">Salesforce & Freshdesk Integration</h1>
        <span class="head-text">Streamlining Your Workflow</span>
      </div>
      <div
        class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center main-img  text-lg-start">
        <img src="assets/images/services/product-page-image.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="section second-section section-padding">
  <div class="container">
    <div class="about-wrap">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-content-wrap">
            <div class="section-title">
              <h2 class="title">SEAMLESS INTEGRATION FOR ENHANCED EFFICIENCY</h2>
            </div>
            <p class="text">Managing customer support tickets effectively while keeping your Salesforce records
              up-to-date can be challenging. Our latest innovation, the Salesforce and Freshdesk Integration, is
              designed to simplify your workflow, enabling you to focus more on delivering outstanding customer service.
            </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-img-wrap">
            <img class="shape-1" src="assets/images/services/effectively.svg" alt="">
            <div class="about-img">
              <img src="assets/images/servicely-img.jpg" alt="">
              <div class="wrapper">
                <div class="video-main">
                  <div class="promo-video">
                    <div class="waves-block">
                      <div class="waves wave-1"></div>
                      <div class="waves wave-2"></div>
                      <div class="waves wave-3"></div>
                    </div>
                  </div>
                  <a href="javascript:void(0)" (click)="openPopup()" class="video video-popup mfp-iframe" data-lity><i class="fa fa-play"></i></a>
                </div>
              </div>
            </div>


          </div>
          <div class="col-lg-12 display-text">
            <div class="col-lg-9">
              <div class="about-img-wrap">
                <div class="d-flex justify-content-end watch-video">
                  <a href="contact-us" class="btn-get-started">Click here to watch the full video on how it works.</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display': displayStyle}">
  <div class="modal-body">
  <span class="close" (click)="closePopup()">&times;</span>
  <div class="modal-dialog">

    <div class="modal-content">
      <!-- <video controls="">
        <source src="https://sample-videos.com/video321/mp4/720/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
      </video> -->
      <iframe width="560" height="315" src="https://www.youtube.com/embed/a70sMtkFubk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  </div>
</div>


<section class="section third-section  section-padding">
  <div class="container">
    <div class="about-wrap">
      <div class="row">
        <div class="col-lg-6">
          <div class="about-content-wrap">
            <div class="section-title">
              <h2 class="title">Why Choose
                Our Integration?</h2>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content-wrap">
            <div class="section-text">
              <p class="peraa">Our integration tool allows you to seamlessly connect Salesforce with Freshdesk,
                automating the creation and updating of cases directly within Salesforce. No more switching between
                systems or manual data entry. With just one click, you can synchronize information between both
                platforms, ensuring accuracy and saving valuable time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="core-values custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp pb-5" data-wow-duration="2s">
      <h2>KEY FEATURES</h2>
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center d-flex" data-wow-duration="2s">
      <div class="col-lg-9 col-md-6">
        <div class="why-choose-box ">
          <div class="col-lg-4">
            <h1>One-Click Case Creation</h1>
          </div>
          <div class="why-choose-box-1">
            <div class="col-lg-12">
              <p>Easily create a case in Salesforce directly from Freshdesk tickets with a single click.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-6">
        <div class="why-choose-box ">
          <div class="col-lg-4">
            <h1>Automatic Field Mapping</h1>
          </div>
          <div class="why-choose-box-1">
            <div class="col-lg-12">
              <p>Our integration automatically maps fields between Freshdesk and Salesforce, eliminating the need for manual input and reducing errors.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-6">
        <div class="why-choose-box ">
          <div class="col-lg-4">
            <h1>Real-Time Updates</h1>
          </div>
          <div class="why-choose-box-1">
            <div class="col-lg-12">
              <p>Changes made in Freshdesk are instantly reflected in Salesforce, keeping both systems in perfect sync.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="getting-banner">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-12 d-flex flex-column justify-content-center text-center text-lg-start ">
        <h1 class="banner-text">Getting Started is Simple</h1>
        <p>
          Installing our integration app is straightforward. Once installed, a new button will appear within your Freshdesk interface. Clicking this button creates a case in Salesforce using the mapped fields from Freshdesk tickets. It’s that easy!
        </p>
      </div>

    </div>
  </div>
</section>

<section class="transform-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-12 d-flex flex-column justify-content-center text-center text-lg-start ">
        <p>Ready to</p>
        <h1 class="banner-text">TRANSFORM</h1>
        <p class="text-1">
          Your Customer Support Workflow?
        </p>
      </div>

    </div>
  </div>
</section>

<section class="tell-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-12 d-flex flex-column justify-content-center text-center text-lg-start ">
        <h1 class="banner-text">Tell us about your idea, and we’ll make it happen.</h1>
        <p>
          Have a brand problem that needs to be solved? We’d love to hear about it!
        </p>

        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="contact-us" class="btn-get-started">Connect Now!</a>
       </div>
      </div>


    </div>
  </div>
</section>

<!-- <section class="second-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div class="pos-relative">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column ">
        <h1 class="banner-text">SEAMLESS INTEGRATION FOR ENHANCED EFFICIENCY</h1>
        <p class="pr-1">Managing customer support tickets effectively while keeping your Salesforce records up-to-date can be challenging. Our latest innovation, the Salesforce and Freshdesk Integration, is designed to simplify your workflow, enabling you to focus more on delivering outstanding customer service.</p>
      </div>
      <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column  main-img ">
      <img src="assets/images/services/effectively.svg" alt="" >
      </div>
    </div>
      <div class="video-container">

        <video class="video-tag" controls autoplay >
          <source src="/assets/images/ab7772666f11c393507556c7ebeae8c6.mp4" type="video/mp4">
          </video>
      </div>

    </div>
    <div class="d-flex justify-content-end watch-video">
      <a href="contact-us" class="btn-get-started">Click here to watch the full video on how it works.</a>
    </div>
  </div>
</section> -->


