

<section class="insights insights-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div
        class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start insights">
        <!-- <span>Freshworks</span> -->
        <h1>Servicely AI</h1>
      </div>
    </div>
  </div>
</section>

<!-- <section id="constant-enterprise" class="constant-enterprise section-bg custom-padding-1">
  <div class="container">
    <div class="row gy-4">
      <div class="col-xl-12 wow fadeInUp" data-wow-duration="2s">
        <div class="content d-flex flex-column justify-content-center ps-0 ps-xl-4">
          <h3 data-aos="fade-in" data-aos-delay="100">Servicely Technology Solutions by Nikqik Technologies
          </h3>
          <p data-aos="fade-in" class="pb-4">
            Welcome to the future of streamlined and efficient services – welcome to Servicely Technology at Nikqik! Our
            Servicely offerings are designed to revolutionize the way you manage and optimize your IT processes. Harness
            the power of cutting-edge technology with a touch of expertise that Nikqik Technologies brings to every
            facet of your service management journey.
          </p>
          <p data-aos="fade-in">
            What sets Nikqik Technologies apart in the realm of Servicely Technology is our commitment to excellence. We
            don't just implement solutions; we craft experiences. Our team goes beyond the conventional, understanding
            that every organization is unique. With a focus on innovation and adaptability, we sculpt Servicely
            solutions that not only meet your current needs but also future-proof your IT landscape.
          </p>

        </div>
      </div>
    </div>
  </div>
</section> -->



<!-- ADVERTISERS SERVICE CARD -->
<section id="advertisers" class="advertisers-service-sec custom-padding pt-10 hero-service">
  <div class="container">
    <div class="row">
      <div class="section-header text-center">
        <h2 class="main-title">Our <span>Servicely Technology</span> <a href="#" routerLink="/" class="text-black">
          Services</a></h2>
      </div>
    </div>
    <div class="row mt-5 mt-md-4 row-cols-1 row-cols-sm-1 row-cols-md-3 justify-content-center">
      <div class="col-lg-4 col-sm-6 col-md-6 pb-3">
        <div class="service-card">

          <h3 class="text-center">Servicely ITSM Consulting</h3>
          <p>
            Navigate the complexities of IT Service Management (ITSM) with ease. Our consulting services ensure your IT processes are not just functional but become a strategic asset for your organization.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 pb-3">
        <div class="service-card">

          <h3 class="text-center">Servicely ITSM Tools Implementation</h3>
          <p>
            Transform your ITSM landscape from a burden to a catalyst for growth. We specialize in seamless implementation, ensuring your tools align with your business objectives.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 pb-3">
        <div class="service-card">

          <h3 class="text-center">Servicely Automation Solutions</h3>
          <p>
            Unlock the true potential of automation in your service management processes. Our Servicely Automation Solutions bring efficiency and speed to your daily operations.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 pb-3">
        <div class="service-card">

          <h3 class="text-center">Servicely Cloud Integration</h3>
          <p>
            Seamlessly integrate your services into the cloud for enhanced accessibility and scalability. Our Servicely Cloud Integration solutions ensure a smooth transition to a more agile and responsive IT environment.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6 col-md-6 pb-3">
        <div class="service-card">

          <h3 class="text-center">Servicely AI in Service Management</h3>
          <p>
            Embrace the future with AI-driven service management. Our Servicely AI solutions enhance decision-making, automate routine tasks, and elevate the overall efficiency of your IT operations.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- ADVERTISERS SERVICE CARD ENDED -->



<!-- <section class="hero-services custom-padding pt-0">
  <div class="container">
    <h2 class="main-title">Our <span>Servicely Technology</span> <a href="#" routerLink="/" class="text-black">
        Services</a></h2>
    <div class="main-box">
      <div class="inner-box">
        <h3 class="inner-heading">Servicely ITSM Consulting</h3>
        <p class="text-small">Navigate the complexities of IT Service Management (ITSM) with ease. Our consulting
          services ensure your IT processes are not just functional but become a strategic asset for your organization.
        </p>
      </div>
      <div class="inner-box">
        <h3 class="inner-heading">Servicely ITSM Tools Implementation</h3>
        <p class="text-small">Transform your ITSM landscape from a burden to a catalyst for growth. We specialize in
          seamless implementation, ensuring your tools align with your business objectives.</p>
      </div>
      <div class="inner-box">
        <h3 class="inner-heading">Servicely Automation Solutions</h3>
        <p class="text-small">Unlock the true potential of automation in your service management processes. Our
          Servicely Automation Solutions bring efficiency and speed to your daily operations.</p>
      </div>
      <div class="inner-box">
        <h3 class="inner-heading">Servicely Cloud Integration</h3>
        <p class="text-small">Seamlessly integrate your services into the cloud for enhanced accessibility and
          scalability. Our Servicely Cloud Integration solutions ensure a smooth transition to a more agile and
          responsive IT environment.</p>
      </div>
      <div class="inner-box">
        <h3 class="inner-heading">Servicely AI in Service Management</h3>
        <p class="text-small">Embrace the future with AI-driven service management. Our Servicely AI solutions enhance
          decision-making, automate routine tasks, and elevate the overall efficiency of your IT operations.</p>
      </div>
    </div>
  </div>
</section> -->

<section class="clearfix custom-padding servicely-padd pt-0">
  <div class="container">
    <h2 class="main-title">Why Choose <span>Servicely Technology</span> at <a href="#" routerLink="/"
        class="text-black"> Nikqik</a></h2>
    <div class="services-tab-box">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 no-gutter">
            <div class="image-wrapper"></div>
          </div>
          <div class="col-lg-6 hire">
            <div class="right-section">
              <div class="row">
                <div class="col-lg-12 col-sm-12 ">
                  <div class="text">
                    <div class="d-flex align-items-center">
                      <img src="assets/images/check-svgrepo-com7.svg" alt="">
                      <h5 class="mar-bot-10 white-col mar-top-10 ml-20">Dedicated Team</h5>
                    </div>
                    <p class="gray-bg-col">We have an experts team of PHP developers who are well
                      versed in providing high-end business solutions on several frameworks and
                      technologies.</p>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12 ">
                  <div class="text">
                    <div class="d-flex align-items-center">
                      <img src="assets/images/check-svgrepo-com7.svg" alt="">
                      <h5 class="mar-bot-10 white-col mar-top-10 ml-20"><strong>Flexible
                          Engagement Models</strong>
                      </h5>
                    </div>
                    <p class="gray-bg-col">Instead of working on unwanted rigid and strict
                      parameters, we offer flexibility to our clients to choose from different
                      engagement and hiring models. </p>
                  </div>
                </div>
                <div class="col-lg-12 col-sm-12 ">
                  <div class="text">
                    <div class="d-flex align-items-center">
                      <img src="assets/images/check-svgrepo-com7.svg" alt="">
                      <h5 class="mar-bot-10 white-col mar-top-10 ml-20"><strong>Flexibility in
                          Time Zones</strong>
                      </h5>
                    </div>
                    <p class="gray-bg-col">We are always ready to work in the time zone of your
                      country. Hire our skilled developers to get the work done as per your time
                      zone.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- row end -->
      </div>
    </div>
  </div>
</section>

<section class="technology position-relative services-tab-box py-5">
  <div class="container">
    <div class="technology_wrapper">
      <div class="services-tabs">
        <header class="commonSection_header text-center">
          <h2 data-wow-delay="0.3s" class="title wow fadeInLeft">
            <span class="d-block">Technologies We Rely On</span>
          </h2>
        </header>
        <ul class="list-unstyled d-flex flex-wrap justify-content-center">
          <li class="list-inline-item">
             <a href="servicenow-technology-partner">
            <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/logo/servicenow-logo.png" alt="servicenow">
              <!-- Servicenow -->

            </div>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="freshworks-technology-solutions">
              <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
                <img src="assets/images/logo/freshworks-logo.png" alt="Freshworks">
                <!-- Freshworks -->
              </div>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="microsoft-technology-solutions">
            <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/logo/microsoft-logo.png" alt="microsoft">
              <!-- Microsoft -->
            </div>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="python-technology-solutions">
            <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/logo/python-logo.png" alt="python">
              <!-- Python -->
            </div>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="uipath-technology-solutions">
            <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/logo/UiPath-logo.png" alt="UiPath">
              <!-- UiPath -->
            </div>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="aws-technology-services">
            <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/logo/amazon-logo.png" alt="amazon">
              <!-- Amazon -->
            </div>
          </a>
          </li>
          <li class="list-inline-item">
            <a href="salesforce-technology-services">
            <div class="technology_box bg-white d-flex flex-column justify-content-center align-items-center">
              <img src="assets/images/logo/salesforce-logo.png" alt="salesforce">
              <!-- Salesforce -->
            </div>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="connect-box" class="connect-box custom-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="connect-boxwrep wow fadeInUp" data-wow-duration="2s">
        <h2>Tell us about your idea, and <br> we’ll make it happen.</h2>
        <p>Have a brand problem that needs to be solved? We’d love to hear about it!</p>
      </div>
      <div class="d-flex justify-content-center btn-padding">
        <a  href="contact-us" class="btn-get-started">Connect With Us<i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</section>
