<section class="about about-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h1>Empowering Progress, Transforming Futures</h1>
      </div>
      <!-- <div class="col-lg-6 order-lg-1 d-flex flex-column main-img ">
        <img src="assets/images/services/about-banner.png" alt="" >
        </div> -->
    </div>
  </div>
</section>



<!-- <section class="careers careers-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div class="col-lg-6 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start careers-p">
        <span>Careers</span>
        <h1>We're always looking for talented people</h1>
        <p>Experience the opportunity to contribute to cutting-edge IT solutions utilizing state-of-the-art software
          tools in the global industry. Enjoy a promising career trajectory and a supportive work environment at Nikqik,
          characterized by an empathetic culture.</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="careers/#applyjob" class="btn-get-started">Apply Now </a>
        </div>
      </div>
      <div class="col-lg-6 order-lg-1 d-flex flex-column main-img ">
        <img src="assets/images/12.png" alt="" >
        </div>
    </div>
  </div>
</section> -->


<section class="choose-us section-bg custom-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row gy-4">
          <div class="col-xl-6 wow fadeInUp" data-wow-duration="2s">
            <div class="content d-flex flex-column justify-content-center ">
              <h3 data-aos="fade-in" data-aos-delay="100">Your Vision, Our Expertise, Transforming Ideas into Reality</h3>
            </div>
          </div>
          <div class="col-xl-6 wow fadeInUp" data-wow-duration="2s">
            <div class="content d-flex flex-column justify-content-center ">
              <p data-aos="fade-in">
                At Nikqik Technologies, we believe in the power of human ingenuity, streamlined processes, and responsible technology to shape a sustainable future. We’re an IT Consulting and Services company headquartered in Australia, with a global presence in the USA and India. Our international team of passionate experts is dedicated to empowering your Digital Transformation Journey.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-mission-vision section-bg custom-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row gy-4">
          <div class="col-xl-6 wow fadeInUp" data-wow-duration="2s">
            <div class="content d-flex flex-column justify-content-center ">
              <h2>Our Mission —</h2>
              <p data-aos="fade-in">
                We partner with organizations to unleash the power of their people, optimize their processes, and
                harness the potential of technology, creating sustainable value for future generations.
              </p>
            </div>
          </div>
          <div class="col-xl-6 wow fadeInUp" data-wow-duration="2s">
            <div class="content d-flex flex-column justify-content-center ">
              <h2>Our Vision —</h2>
              <p data-aos="fade-in">
                Building a world where innovation fuels purpose, people unlock potential, and technology guides
                responsible growth.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="point section-bg custom-padding pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row gy-4">
          <div class="col-xl-8 col-sm-8 wow fadeInUp" data-wow-duration="2s">
            <div class="content-text-1 d-flex flex-column justify-content-center ">
              <h2>Human-centric approach</h2>
              <p data-aos="fade-in">
                We put people at the heart of everything we do, ensuring your transformations are successful and
                sustainable.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-sm-4 wow fadeInUp mob-margin" data-wow-duration="2s">
            <div class="content-number-1 d-flex flex-column justify-content-center ">
              <h1>01</h1>
            </div>
          </div>
        </div>
        <hr>
        <!------    ------>

        <div class="row gy-4">
          <div class="col-xl-3 col-sm-4 wow fadeInUp" data-wow-duration="2s">
            <div class="content-number-2 d-flex flex-column justify-content-center mt-0">
              <h1>02</h1>
            </div>
          </div>
          <div class="col-xl-9 col-sm-8 wow fadeInUp mob-margin" data-wow-duration="2s">
            <div class="content-text-2 d-flex flex-column justify-content-left ">
              <h2>Process excellence</h2>
              <p data-aos="fade-in">
                We believe in optimizing your core processes to unlock efficiency and drive results.
              </p>
            </div>
          </div>
        </div>
<hr>
        <!------    ------>

        <div class="row gy-4">
          <div class="col-xl-8 col-sm-8 wow fadeInUp" data-wow-duration="2s">
            <div class="content-text-1 d-flex flex-column justify-content-center ">
              <h2>Technology expertise</h2>
              <p data-aos="fade-in">
                We leverage the latest technologies to empower your business and build a future-proof foundation.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-sm-4 wow fadeInUp mob-margin" data-wow-duration="2s">
            <div class="content-number-1 d-flex flex-column justify-content-center ">
              <h1>03</h1>
            </div>
          </div>
        </div>
<hr>
        <!------    ------>

        <div class="row gy-4">
          <div class="col-xl-3 col-sm-4 wow fadeInUp" data-wow-duration="2s">
            <div class="content-number-2 d-flex flex-column justify-content-center mt-0">
              <h1>04</h1>
            </div>
          </div>
          <div class="col-xl-9 col-sm-8 wow fadeInUp mob-margin" data-wow-duration="2s">
            <div class="content-text-2 d-flex flex-column justify-content-left ">
              <h2>Global reach</h2>
              <p data-aos="fade-in">
                With the help of our global expert team, we offer a unique blend of local expertise and global capabilities
              </p>
            </div>
          </div>
        </div>
<hr>
        <!------    ------>

        <div class="row gy-4">
          <div class="col-xl-8 col-sm-8 wow fadeInUp" data-wow-duration="2s">
            <div class="content-text-1 d-flex flex-column justify-content-center ">
              <h2>Sustainable focus</h2>
              <p data-aos="fade-in">
                We believe in responsible technology and are committed to helping you achieve your goals while minimizing environmental impact.
              </p>
            </div>
          </div>
          <div class="col-xl-4 col-sm-4 wow fadeInUp mob-margin" data-wow-duration="2s">
            <div class="content-number-1 d-flex flex-column justify-content-center ">
              <h1>05</h1>
            </div>
          </div>
        </div>

        <!------    ------>

      </div>
    </div>
  </div>
</section>

<section id="connect-box" class="connect-box custom-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="connect-boxwrep wow fadeInUp" data-wow-duration="2s">
        <h2>Partner with Nikqik Technologies and embark on a journey of progress, innovation, and sustainable success.
        </h2>
        <p>Contact us today to discover how we can help you transform your business.</p>
      </div>
    </div>
  </div>
</section>

<section class="core-values custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp" data-wow-duration="2s">
      <h2>Our Core Values</h2>
      <p>At Nikqik we curated a formula out of our core values</p>
    </div>
    <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">
      <div class="col-lg-6 col-md-6">
        <div class="why-choose-box">
         <!-- <div class="rectangle">
          <span> <h1>01</h1></span>
         </div> -->

         <h3 style="text-align: center;">Integrity</h3>
            <p class="pt-2">At Nikqik, integrity is the bedrock of our actions. We uphold the highest ethical standards, fostering trust and transparency in every interaction, ensuring that our business practices reflect unwavering honesty and accountability.</p>

        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="why-choose-box">

          <!-- <div class="rectangle">
            <span> <h1>02</h1></span>
           </div> -->
           <h3 style="text-align: center;">Innovation</h3>
            <p class="pt-2">We thrive on innovation at Nikqik, pushing boundaries to create solutions that redefine possibilities. By cultivating a culture of continuous improvement and embracing cutting-edge technologies, we drive progress and stay at the forefront of industry advancements.</p>
          </div>

      </div>

      <div class="col-lg-6 col-md-6">
        <div class="why-choose-box">
          <!-- <div class="rectangle">
            <span> <h1>03</h1></span>
           </div> -->
           <h3 style="text-align: center;">Customer-Centricity</h3>
            <p class="pt-2">Putting our customers at the heart of everything we do, Nikqik is committed to delivering exceptional experiences. Our unwavering focus on understanding and exceeding customer needs ensures that their satisfaction remains our primary measure of success.</p>
          </div>

      </div>

      <div class="col-lg-6 col-md-6">
        <div class="why-choose-box">
          <!-- <div class="rectangle">
            <span> <h1>04</h1></span>
           </div> -->
           <h3 style="text-align: center;">Collaboration</h3>
            <p class="pt-2">Collaboration is ingrained in Nikqik's DNA. We believe in the power of teamwork, leveraging diverse perspectives and skills to achieve collective success. By fostering a collaborative environment, we enhance creativity, efficiency, and overall organizational resilience.</p>
          </div>

      </div>
    </div>
  </div>
</section>

<section class="client-profile custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-12 ">
    <div class="row gy-4 wow fadeInUp " data-wow-duration="2s">
      <div class="col-lg-6 col-md-6 text-center">
        <div  class="nikhil-img" id="clickcid1" (click)="openPopup(1)" style="display: contents;">
          <img src="/assets/images/nikhil.png" alt="Client img" class="img-fluid">
          <div class="client-detail pt-2">
            <h3>Nikhil Choudhary</h3>
            <span class="description">CEO</span>
            <p class="profile-about" >Nikhil Choudhary navigates the IT landscape by building bridges across it. With over 14 years of experience as an engineer and an MBA in entrepreneurship, he brings both technical brilliance and business acumen to Nikqik Technologies.</p>
            </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 text-center">
        <div  class="client-img" id="clickcid2" (click)="openPopup(2)" style="display: contents;">
          <img src="/assets/images/client-pic-a 1.png" alt="Client img" class="img-fluid">
          <div class="client-detail pt-2">
            <h3>Vikas Mukati</h3>
            <p class="description">Director QA Practice</p>
            <p class="profile-about" >As the Director of the Quality Assurance Practice, my passion lies in assisting businesses to optimize their technology utilization, which enhances their growth and effectiveness.</p>
            </div>
        </div>
      </div>
    </div>
      </div>
    </div>

  </div>
</section>




<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyleModel1}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <section class="client-profile custom-padding pb-0">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-12">
            <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">
              <div class="col-lg-3 col-md-6">
                <div class="nikhil-img">
                  <img src="/assets/images/nikhil.png" alt="Client img" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-9 col-md-6">
                <div class="client-detail">
                  <h1>Nikhil Choudhary</h1>
                  <p class="description">Building Bridges, Shaping Futures</p>
                  <p class="text">Nikhil Choudhary navigates the IT landscape by building bridges across it. With over 14 years of experience
                    as an engineer and an MBA in entrepreneurship, he brings both technical brilliance and business acumen to
                    Nikqik Technologies.</p>
                  <p class="text mb-0">His journey is a tapestry woven with strategic vision, laser focus, and a deep understanding of people.
                    He's a maestro of service management, digital transformation, and project orchestration, seamlessly
                    integrating expertise with empathy.
                  </p>
                  <span>Nikhil Choudhary invites you to join him. To connect, collaborate, and redefine the future of IT, together.</span>
                </div>
                <div class="social-icon">
                  <div class="social-links terms-privacy d-flex justify-content-sm-end justify-content-center">
                    <a href="https://www.linkedin.com/in/nikhil-choudhary-50611028/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/nikqik_technologies/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">
              <div class="col-lg-12  col-sm-12 pt-5">
                <div class="client-detail">
                  <h5>Nikhil's passion lies in</h5>
                    <ul>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Empowering Organizations: He guides businesses through streamlined workflows and operational excellence, unlocking hidden potential.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Mastering ITIL & ITSM: With ServiceNow and BMC Remedy as his tools, he crafts efficient IT operations like a symphony.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Cloud-powered Connections: He orchestrates seamless customer experiences, leveraging the power of cutting-edge solutions like Amazon Connect.</li>
                    </ul>
                </div>
                <div class="client-detail">
                  <h6>Beyond the technical prowess, Nikhil's leadership is built on a human foundation. He takes pride in:</h6>
                    <ul>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Transformative Voyages: He guides organizations from the shores of the present to the horizons of a digital future.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Team Harmony: He bridges continents and cultures, fostering collaboration and high-performance across diverse teams.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Building Trustful Bonds: His relationships are more than partnerships; they're built on mutual respect, understanding, and unwavering dedication.</li>
                    </ul>
                </div>
                <div class="client-detail">
                  <h6>At Nikqik Technologies, Nikhil's vision extends beyond technology. He wants to cultivate a culture of:</h6>
                    <ul>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                        <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Continuous Learning: Where every day is a journey of discovery, and every challenge an opportunity to grow.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Unrelenting Innovation: Where pushing boundaries becomes the norm, and the future is constantly redefined.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Client-Centric Commitment: Where success is measured by empowering client ambitions, hand in hand.</li>
                    </ul>
                </div>
              </div>
            </div>
              </div>
            </div>

          </div>
        </section>
      </div>
      <div>
        <button type="button" class="close" aria-label="Close"
                (click)="closePopup(1)">
				<span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>



<div class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display': displayStyleModel2}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <section class="client-profile custom-padding pb-0">
          <div class="container" data-aos="fade-up">
            <div class="row">
              <div class="col-lg-12">
            <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">
              <div class="col-lg-3 col-md-6">
                <div class="client-img">
                  <img src="/assets/images/client-pic-a 1.png" alt="Client img" class="img-fluid">
                </div>
              </div>
              <div class="col-lg-9 col-md-6">
                <div class="client-detail">
                  <h1>Vikas Mukati</h1>
                  <p class="description">Director QA Practice</p>
                  <p class="text">As the Director of the Quality Assurance Practice, my passion lies in assisting businesses to optimize their technology utilization, which enhances their growth and effectiveness. With extensive expertise in quality assurance methodologies and a commitment to remaining updated with the latest technological advancements, I am devoted to ensuring that our clients receive the highest level of quality and reliability in their technology solutions. </p>
                  <p class="text">Our team possesses the required proficiency in quality assurance testing, risk management, and compliance to ensure your success. Whether you seek to enhance your IT services or streamline your operations, we can help you achieve your goals while adhering to industry standards and best practices.
                  </p>
                  <p class="text">Reach out to us at Nikqik Technologies to discover how we can assist your organization to flourish in the digital era with confidence in the quality of your technology solutions.</p>
                </div>
                <div class="social-icon">
                  <div class="social-links terms-privacy d-flex justify-content-sm-end justify-content-center">
                    <a href="https://www.linkedin.com/in/nikhil-choudhary-50611028/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/nikqik_technologies/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">
              <div class="col-lg-12  col-sm-12 pt-5">
                <div class="client-detail">
                  <h5>Nikhil's passion lies in</h5>
                    <ul>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Empowering Organizations: He guides businesses through streamlined workflows and operational excellence, unlocking hidden potential.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Mastering ITIL & ITSM: With ServiceNow and BMC Remedy as his tools, he crafts efficient IT operations like a symphony.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Cloud-powered Connections: He orchestrates seamless customer experiences, leveraging the power of cutting-edge solutions like Amazon Connect.</li>
                    </ul>
                </div>
                <div class="client-detail">
                  <h6>Beyond the technical prowess, Nikhil's leadership is built on a human foundation. He takes pride in:</h6>
                    <ul>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Transformative Voyages: He guides organizations from the shores of the present to the horizons of a digital future.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Team Harmony: He bridges continents and cultures, fostering collaboration and high-performance across diverse teams.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Building Trustful Bonds: His relationships are more than partnerships; they're built on mutual respect, understanding, and unwavering dedication.</li>
                    </ul>
                </div>
                <div class="client-detail">
                  <h6>At Nikqik Technologies, Nikhil's vision extends beyond technology. He wants to cultivate a culture of:</h6>
                    <ul>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                        <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Continuous Learning: Where every day is a journey of discovery, and every challenge an opportunity to grow.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Unrelenting Innovation: Where pushing boundaries becomes the norm, and the future is constantly redefined.</li>
                      <li>
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none" class="mr-2">
                          <path d="M3.6665 11.5601L8.17933 16.0416L18.3332 5.95825" stroke="#0066F9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        Client-Centric Commitment: Where success is measured by empowering client ambitions, hand in hand.</li>
                    </ul>
                </div>
              </div>
            </div> -->
              </div>
            </div>

          </div>
        </section>
      </div>
      <div>
        <button type="button" class="close" aria-label="Close"
                (click)="closePopup(2)">
				<span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

