<section class="services-banner">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h1 class="banner-text">Data Analytics</h1>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="contact-us" class="btn-get-started">Connect Today <img src="https://nikqikrfp.my.canva.site/it-service-management-process-consulting/images/e20632dd00b5ed7bf02fcce8d2c37eac.svg" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
      <img src="assets/images/services/data-analytics.png" alt="" class="main-img">
      </div>

    </div>
  </div>
</section>

<section class="second-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-8">
          <h1 class="banner-text">Unleash the Power of Data</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 display-left">
        <div class="col-lg-10">
          <p>In today's digital world, data is a treasure trove of insights, but only if you have the keys to unlock its potential. That's where Nikqik Technologies comes in. We're your expert guides to transforming raw data into actionable insights that drive informed decisions and accelerate growth.</p>     
        </div>
        <div class="d-flex justify-content-end">
          <a href="contact-us" class="btn-get-started">CONNECT NOW</a>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="services custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title gif wow fadeInUp pb-5" data-wow-duration="2s">
      <h2>Here's what sets us <span> <img src="/assets/images/circle.gif" alt="">apart!</span></h2>
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center" data-wow-duration="2s">
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/data-analytics/data-strategy-and-roadmap.png" alt="" srcset="">
          </div>
          <div>
            <span>Data Strategy and Roadmap</span>
          </div>
          <p class="pt-2">Define your data goals, identify key data sources, and create a roadmap for successful analytics implementation.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/data-analytics/data-collection-and-integration.png" alt="" srcset="">
          </div>
          <div><span>Data Collection and Integration</span></div>

          <p class="pt-2">Gather, clean, and integrate data from disparate sources, ensuring its accuracy and consistency.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/data-analytics/data-analysis-and-visualization.png" alt="" srcset="">
          </div>
          <div>
            <span>Data Analysis and Visualisation</span>
          </div>
          <div>
            <p class="pt-2">Apply advanced analytics techniques to uncover patterns, trends, and correlations, and present findings in visually compelling dashboards and reports.</p>

          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/data-analytics/predictive-modeling-and-forecasting.png" alt="" srcset="">
          </div>
          <div>
            <span>Predictive Modeling and Forecasting</span>
          </div>
          <div>
            <p class="pt-2">Use sophisticated algorithms to anticipate future trends, predict customer behavior, optimize resource allocation, and mitigate risks.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/data-analytics/data-driven-decision-making.png" alt="" srcset="">
          </div>
          <div>
            <span>Data-Driven Decision Making</span>
          </div>
          <div>
            <p class="pt-2">Foster a culture of data-driven decision-making across your organization,empowering teams to make informed choices based on evidence.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/data-analytics/data-governance-and-compliance.png" alt="" srcset="">
          </div>
          <div>
            <span>Data Governance and Compliance</span>
          </div>
          <div>
            <p class="pt-2">Implement robust data governance practices to ensure data quality,security, and compliance with industry regulations.</p>
          </div>
        </div>
      </div>
      </div>
      </div>
      </section>

<section class="core-values custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp pb-5" data-wow-duration="2s">
      <h2><span> <img src="/assets/images/circle.gif" alt="">Why</span> you should partner with us for your data analytics journey</h2>
      <!-- <h2>Here's what sets us <span> <img src="/assets/images/circle.gif" alt=""> apart!</span></h2> -->
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center d-flex" data-wow-duration="2s">
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box ">
          <div class="col-lg-4">
            <span>Actionable insights, not just numbers</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We go beyond just gathering data; we uncover the hidden stories within it, revealing patterns, trends, and opportunities that fuel strategic decision-making at every level of your organization.</p>

           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Tailored solutions, not one-size-fits-all</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We understand that every business is unique. We work closely with you to understand your specific challenges and goals, crafting a data analytics strategy that aligns perfectly with your needs.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Expertise across industries and technologies</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">Our team of seasoned data analysts and engineers have deep expertise in a wide range of industries and technologies, ensuring we can deliver the right solutions for your unique challenges.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Advanced analytics techniques</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We leverage cutting-edge tools and techniques, including predictive analytics,machine learning, data visualization, and data mining, to extract maximum value from your data.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Clear communication & collaboration</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We believe in breaking down data silos and making insights accessible to everyone. We translate complex data into clear, actionable insights that empower teams across your organization to make better decisions.</p>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>



      <section class="full-banner">
        <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
          <div class="row space">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">
              <img src="assets/images/full-bannerimage.png" alt="">
              </div>
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center ">
              <p>Contact Nikqik Technologies today and let's embark on a journey of data-driven transformation, together.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="full-banner-2">
        <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
          <div class="row space">

            <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center ">
              <p class="pr-1">Tell us about your</p>
              <p class="pr-2">IDEA</p>
              <p class="pr-1">and we’ll make it happen.</p>

                <p class="pr-3">Have a brand problem that needs to be solved? We’d love to hear about it!</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="contact-us" class="btn-get-started">CONNECT NOW</a>

              </div>
            </div>
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-end">
              <img src="assets/images/setting.gif" alt="">
              </div>
          </div>
        </div>
      </section> -->
