<section class="insights insights-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 ">
      <div
        class="col-lg-8 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start insights">
        <span>Charting success together.</span>
        <h1>Navigate your business journey with our expert IT solutions</h1>
        <p>Nikqik has wide range of services to offer with Nikqik Engineers certified in all the major tools and
          services.</p>
      </div>
    </div>
  </div>
</section>
<section class="services custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp" data-wow-duration="2s">
      <h2>Our Service Offerings</h2>
      <p>Nikqik has wide range of services to offer with Nikqik Engineers certified in all the major tools and services.
      </p>
    </div>
    <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/Frame14.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>ITSM Process Consulting</span>
          <p class="pt-2">Does your IT feel like a tangled mess of processes and disconnected tools? At Nikqik
            Technologies, we believe IT should be an empowering force, not a frustrating drain. We're the experts in IT
            Service Management
            Process Consulting</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="it-service-management-process-consulting" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/Group.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>ITSM
            Tools Consulting & Implementation</span>
          <p class="pt-2">Stuck with clunky processes and disconnected tools? At Nikqik Technologies, we transform ITSM
            from frustrating burden to strategic asset.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="it-service-management-tools-implementation" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/users-users-network-people-svgrepo-com (1) 1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Cloud Contact Center Professional Services</span>
          <p class="pt-2">Is your contact center stuck in the analog age? At Nikqik Technologies, we conduct the
            orchestra of omnichannel customer experiences, delivering sophisticated Cloud Contact Center Professional
            Services that harmonize every interaction.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="cloud-contact-center-professional-services" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/Group1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Quality <br>
            Assuarance</span>
          <p class="pt-2">At Nikqik, we understand the criticality of delivering flawless products and services to
            uphold your business standards. Our Quality Assurance services encompass rigorous testing methodologies,
            meticulous analysis.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="quality-assuarance" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/opentasks-svgrepo-com 1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Project
            <br>
            Management</span>
          <p class="pt-2">Empowering businesses to achieve their goals efficiently and effectively, our Project
            Management services provide the compass for successful project delivery. Our seasoned project managers
            utilize industry-leading methodologies.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="project-management" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/data-analytics-wheel-graphic-svgrepo-com 1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Data
            <br>
            Analytics </span>
          <p class="pt-2">Lost in a sea of data? At Nikqik Technologies, we're your expert navigation team, transforming
            raw numbers into actionable insights that guide your business towards growth. We go beyond mere data
            crunching.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="data-analytics" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/hierarchy-svgrepo-com 1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Organizational Change
            <br>
            Management   </span>
          <p class="pt-2">Change is inevitable, and our Organizational Change Management services are designed to guide businesses through transitions seamlessly. We facilitate smooth transformations by employing strategies that engage.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="organizational-change-management" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/analysis-svgrepo-com 1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Business
            <br>
            Analysis   </span>
          <p class="pt-2">Unravelling complexities and unlocking opportunities, our Business Analysis services delve deep into understanding your business's needs. Our proficient analysts employ a comprehensive approach, gathering insights, defining.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="business-analysis" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/staff-symbol-svgrepo-com 1.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Staff
            <br>
            Augmentation</span>
          <p class="pt-2">Providing skilled professionals to complement your team, our Staff Augmentation services offer flexible solutions tailored to your specific requirements. Whether you need additional expertise for a short-term project or long-term support.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="staff-augmentation" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/services-svgrepo-com 2.svg" alt="" srcset="">
          </div>
          <div class="ellipse">
            <img src="assets/images/svgviewer-output.svg" alt="">
          </div>
          <span>Managed
            <br>
            Services</span>
          <p class="pt-2">Is your IT a constant tug-of-war between innovation and firefighting? At Nikqik Technologies, we're your IT lifeline, taking the weight off your shoulders with comprehensive Managed Services.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="managed-services" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="connect-box" class="connect-box custom-padding pb-5">
  <div class="container">
    <div class="row">
      <div class="connect-boxwrep wow fadeInUp" data-wow-duration="2s">
        <h2>Want to Join Team <br> Nikqik?</h2>
        <p>Find your suitable job role openings and apply right away to get to work on exciting projects!</p>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#" class="btn-get-started">Explore Opening <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</section> -->


<!-- <section class="services custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp" data-wow-duration="2s">
      <h2>Our Service Offerings</h2>
      <p>Nikqik has wide range of services to offer with Nikqik Engineers certified in all the major tools and services.
      </p>
    </div>
    <div class="row gy-4 wow fadeInUp" data-wow-duration="2s">

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/it-service-management-process-consulting.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/Frame14.svg" alt="" srcset="">
          </div>
          <span>IT Service Management Process Consulting</span>
          <p class="pt-2">Does your IT feel like a tangled mess of processes and disconnected tools? At Nikqik
            Technologies, we believe IT should be an empowering force, not a frustrating drain. We're the experts in IT
            Service Management
            Process Consulting</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="it-service-management-process-consulting" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/it-service-management-tools-implementation.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/Group.svg" alt="" srcset="">
          </div>
          <span>IT Service Management
            Tools Implementation</span>
          <p class="pt-2">Stuck with clunky processes and disconnected tools? At Nikqik Technologies, we transform ITSM
            from frustrating burden to strategic asset.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="it-service-management-tools-implementation" class="btn-2">Read More</a>
          </div>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/cloud-contact-center-professional-services.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/users-users-network-people-svgrepo-com (1) 1.svg" alt="" srcset="">
          </div>
          <span>Cloud Contact Center Professional Services</span>
          <p class="pt-2">Is your contact center stuck in the analog age? At Nikqik Technologies, we conduct the
            orchestra of omnichannel customer experiences, delivering sophisticated Cloud Contact Center Professional
            Services that harmonize every interaction.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="cloud-contact-center-professional-services" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/quality-assurance.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/Group1.svg" alt="" srcset="">
          </div>
          <span>Quality <br>
            Assuarance</span>
          <p class="pt-2">At Nikqik, we understand the criticality of delivering flawless products and services to
            uphold your business standards. Our Quality Assurance services encompass rigorous testing methodologies,
            meticulous analysis.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="quality-assuarance" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/project-management.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/opentasks-svgrepo-com 1.svg" alt="" srcset="">
          </div>

          <span>Project
            <br>
            Management</span>
          <p class="pt-2">Empowering businesses to achieve their goals efficiently and effectively, our Project
            Management services provide the compass for successful project delivery. Our seasoned project managers
            utilize industry-leading methodologies.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="project-management" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/data-analytics.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/data-analytics-wheel-graphic-svgrepo-com 1.svg" alt="" srcset="">
          </div>

          <span>Data
            <br>
            Analytics </span>
          <p class="pt-2">Lost in a sea of data? At Nikqik Technologies, we're your expert navigation team, transforming
            raw numbers into actionable insights that guide your business towards growth. We go beyond mere data
            crunching.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="data-analytics" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/organizational-change-management.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/hierarchy-svgrepo-com 1.svg" alt="" srcset="">
          </div>

          <span>Organizational Change
            <br>
            Management </span>
          <p class="pt-2">Change is inevitable, and our Organizational Change Management services are designed to guide
            businesses through transitions seamlessly. We facilitate smooth transformations by employing strategies that
            engage.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="organizational-change-management" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/business-analysis.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/analysis-svgrepo-com 1.svg" alt="" srcset="">
          </div>

          <span>Business
            <br>
            Analysis </span>
          <p class="pt-2">Unravelling complexities and unlocking opportunities, our Business Analysis services delve
            deep into understanding your business's needs. Our proficient analysts employ a comprehensive approach,
            gathering insights, defining.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="business-analysis" class="btn-2">Read More</a>
          </div>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/staff-augmentation.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/staff-symbol-svgrepo-com 1.svg" alt="" srcset="">
          </div>

          <span>Staff
            <br>
            Augmentation</span>
          <p class="pt-2">Providing skilled professionals to complement your team, our Staff Augmentation services offer
            flexible solutions tailored to your specific requirements. Whether you need additional expertise for a
            short-term project or long-term support.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="staff-augmentation" class="btn-2">Read More</a>
          </div>
        </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="bg-image" style="background-image: url('assets/images/services-image/manage-services.png');">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/icon/services-svgrepo-com 2.svg" alt="" srcset="">
          </div>

          <span>Managed
            <br>
            Services</span>
          <p class="pt-2">Is your IT a constant tug-of-war between innovation and firefighting? At Nikqik Technologies,
            we're your IT lifeline, taking the weight off your shoulders with comprehensive Managed Services.</p>
          <div class="read-btn">
            <a href="/contact-us" class="mr-3">Connect with Us</a>
            <a href="managed-services" class="btn-2">Read More</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section> -->


