<section class="services-banner">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row gy-5 center-class">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h1 class="banner-text">Managed Services</h1>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="contact-us" class="btn-get-started">Connect Today <img src="https://nikqikrfp.my.canva.site/it-service-management-process-consulting/images/e20632dd00b5ed7bf02fcce8d2c37eac.svg" alt=""></a>
        </div>
      </div>
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
      <img src="assets/images/services/manage-services.png" alt="" class="main-img">
      </div>

    </div>
  </div>
</section>

<section class="second-section">
  <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-8">
          <h1 class="banner-text">Freedom to Focus</h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 display-right">
        <div class="col-lg-10">
          <p>In today's fast-paced world, running a business means a million demands on your time. But managing your IT infrastructure shouldn't be one of them. At Nikqik Technologies, we're your trusted partner, offering comprehensive Managed Services that free you to focus on what matters most - growing your business.</p>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="contact-us" class="btn-get-started">CONNECT NOW</a>
          </div>
        </div>
      </div>


    </div>
  </div>
</section>

<section class="services custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title gif wow fadeInUp pb-5" data-wow-duration="2s">
      <h2>Here's what sets us <span> <img src="/assets/images/circle.gif" alt="">apart!</span></h2>
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center" data-wow-duration="2s">
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/network-management.png" alt="" srcset="">
          </div>
          <div>
            <span>Network Management</span>
          </div>
          <p class="pt-2">Ensure reliable and secure network connectivity, bandwidth optimization, and proactive troubleshooting.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/server-management.png" alt="" srcset="">
          </div>
          <div><span>Server Management</span></div>

          <p class="pt-2">Keep your servers running smoothly, with comprehensive monitoring, patching, and updates.</p>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/cloud-management.png" alt="" srcset="">
          </div>
          <div>
            <span>Cloud Management</span>
          </div>
          <div>
            <p class="pt-2">Manage your cloud infrastructure effectively, optimizing costs, ensuring security, and maximizing value.</p>

          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/cybersecurity-services-training-and-coaching.png" alt="" srcset="">
          </div>
          <div>
            <span>Cybersecurity Services</span>
          </div>
          <div>
            <p class="pt-2">Protect your data and systems from evolving threats with advanced security solutions,vulnerability assessments, and incident response.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/backup-disaster-recoverynalytics-and-reporting.png" alt="" srcset="">
          </div>
          <div>
            <span>Backup & Disaster Recovery</span>
          </div>
          <div>
            <p class="pt-2">Ensure business continuity with secure data backups, disaster recovery planning, and testing.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/end-user-supportanaged-services.png" alt="" srcset="">
          </div>
          <div>
            <span>End-User Support</span>
          </div>
          <div>
            <p class="pt-2">Provide efficient and personalized IT support to your employees, resolving issues quickly and minimizing downtime.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/managed-applications-services.png" alt="" srcset="">
          </div>
          <div>
            <span>Managed Applications</span>
          </div>
          <div>
            <p class="pt-2">Take the burden of managing critical applications off your shoulders, ensuring optimal performance and uptime.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 pt-5">
        <div class="why-choose-box">
          <div class="rectangle">
            <img src="assets/images/service-page-Icons/managed-services/it-consulting-and-strategy-services.png" alt="" srcset="">
          </div>
          <div>
            <span>IT Consulting and Strategy</span>
          </div>
          <div>
            <p class="pt-2">Partner with our IT experts to develop a future-proof IT strategy that aligns with your business goals.</p>
          </div>
        </div>
      </div>
      </div>
      </div>
      </section>

<section class="core-values custom-padding">
  <div class="container" data-aos="fade-up">
    <div class="section-title wow fadeInUp pb-5" data-wow-duration="2s">
      <h2><span> <img src="/assets/images/circle.gif" alt="">Why</span> choose Nikqik for your Managed Services?</h2>
      <!-- <h2>Here's what sets us <span> <img src="/assets/images/circle.gif" alt=""> apart!</span></h2> -->
    </div>
    <div class="row gy-4 wow fadeInUp justify-content-center d-flex" data-wow-duration="2s">
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box ">
          <div class="col-lg-4">
            <span>24/7 Proactive Monitoring and Support</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">Our expert team constantly watches over your IT systems, proactively identifying and resolving issues before they impact your operations.</p>

           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Predictable Costs and Budgeted Peace of Mind</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">Say goodbye to unexpected IT expenses. Our fixed-fee model ensures you get the best value for your investment, with no hidden costs or surprises.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Enhanced Security and Compliance</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We implement robust security solutions and stay up-to-date with the latest regulations, keeping your data and systems safe and compliant.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Optimized Performance & Scalability</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We constantly optimize your IT infrastructure, ensuring peak performance and seamless scalability to meet your evolving needs.</p>
           </div>
        </div>
      </div>
      <div class="col-lg-10 col-md-6">
        <div class="why-choose-box">
          <div class="col-lg-4">
            <span>Expert Guidance and Continuous Improvement</span>
          </div>
           <div class="col-lg-8">
            <p class="pt-2">We partner with you, providing strategic guidance and leveraging data-driven insights to continuously improve your IT environment.</p>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>



      <section class="full-banner">
        <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
          <div class="row space">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center">
              <img src="assets/images/full-bannerimage.png" alt="">
              </div>
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center ">
              <p>Nikqik Technologies is your one-stop shop for comprehensive Managed Services, delivering unmatched expertise, peace of mind, and the freedom to focus on your business goals. Contact us today and let's embark on a journey of worry-free IT, together.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="full-banner-2">
        <div class="container position-relative wow fadeInUp" data-wow-duration="2s">
          <div class="row space">

            <div class="col-lg-7 order-2 order-lg-1 d-flex flex-column justify-content-center ">
              <p class="pr-1">Tell us about your</p>
              <p class="pr-2">IDEA</p>
              <p class="pr-1">and we’ll make it happen.</p>
                <p class="pr-3">Have a brand problem that needs to be solved? We’d love to hear about it!</p>
                <div class="d-flex justify-content-center justify-content-lg-start">
                  <a href="contact-us" class="btn-get-started">CONNECT NOW</a>
              </div>
            </div>
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-end">
              <img src="assets/images/setting.gif" alt="">
              </div>
          </div>
        </div>
      </section> -->
